<div class="custom-category-list">
	<h2 class="hidden-mobile">Группа товаров</h2>
	
	<ul class="marked-list">
		{% for i in tags_menu %}
					<!--{#<form action="/tag_post" id="tag_form" method="{% if edit %}post{% else %}get{% endif %}" novalidate enctype="multipart/form-data">
						<li>
							<a href="/catalog/{{ i.tag_url }}"><i class="fa-check"></i> {{ i.tag_title }}</a>
						</li>
						<span class="tag_form_{{ i.id }}">
							<li>
								<a href="/catalog/{{ i.tag_url }}">{{ i.tag_title }}</a>
							</li>
						</span>
					{% if request.user.is_superuser %} {% csrf_token %}
						<span class="super_user">
							<input type="hidden" name="edit" value="{{i.id}}">
							<button type="submit" class="fast-set"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></button>
						</span>
					{% endif %}
					</form>#}-->

			<li>
				<a href="/catalog/{{ i.tag_url }}">
					{% if cat_title.tag_title == i.tag_title %}
						<i class="fa-arrow-right"></i>
					{% else %}
						<i class="fa-check"></i>
					{% endif %}
					<p>{{ i.tag_title }}</p>
				</a>
			</li>
		{% endfor %}
	</ul>
</div>