<div class="cloud">
	{% for tag in subtags reversed %}
	{% if forloop.counter > 4 and forloop.counter <= count or forloop.counter > 4 and forloop.counter <= 20 and not count %}
		{% if request.user.is_superuser %}
			<form action="/stag_post" class="admin-relative-block" id="stag_form" method="{% if edit %}post{% else %}get{% endif %}" novalidate enctype="multipart/form-data">
				<span class="stag_form_{{ tag.id }} stag_form_stl">
					<li>
						<a href="{%  url 'catalog' cat_url=tag.tag_url %}">{{ tag.tag_title }}</a>
					</li>
				</span>


				{% csrf_token %}
				<span class="super_user_left_list">
					<input type="hidden" name="edit" value="{{tag.id}}">
					<button type="submit" class="fast-set">
						<span class="admin-icon-edit-list" aria-hidden="true"></span>
					</button>
				</span>
			</form>
		{% else %}
			<a href="{%  url 'catalog' cat_url=tag.tag_url %}" style="
				color: {% if tag.tag_priority > 50 %} #006200;
						{% elif tag.tag_priority <= 50 and tag.tag_priority > 40 %} #267300;
						{% elif tag.tag_priority <= 40 and tag.tag_priority > 30 %} #2C862C;
						{% elif tag.tag_priority <= 30 and tag.tag_priority > 20 %} #25B900;
						{% else %} #777; {%endif%}

				font-size: {% if tag.tag_priority >= 39 and tag.tag_priority <= 70 %} calc({{ tag.tag_priority }}px / 3)
							{% elif tag.tag_priority > 70 %} 24px
							{% else %} 13px {%endif%}

				;">{{ tag.tag_title }}</a>
		{% endif %}
	{% endif %}
	{% endfor %}
</div>

<style type="text/css">
	{% if request.user.is_superuser %}
		.cloud li > a{margin-top: 2px;}
		.cloud li{
			list-style: none;
			padding-left: 30px; 
		}
	{% else %}
		.cloud{
			margin-bottom: 50px;
			margin-top: 20px;
			text-align: center;
		}
		.cloud a{
			display: inline-block;
			margin-right: 10px;
		}
	{% endif %}
</style>
