{% load staticfiles %}{% load static %}


<form class="admin-relative-block" method="{% if edit %}post{% else %}get{% endif %}" novalidate enctype="multipart/form-data">
	{% if edit %}
		{{ form.post_text|safe }}
		Название страницы : {{ form.post_title }}<br>
		Уровень страницы: {{ form.post_cat_level }}<br>
		Приоритет: {{ form.post_priority }}

		{% csrf_token %}<br>
		<button type="submit">Сохранить</button>
	{% else %}
		{{ form.post_text.value|safe }}
		<span class="super_user">
			<input type="hidden" name="edit" value="1">
			<button type="submit"><span class="admin-icon-edit" aria-hidden="true"></span></button>
		</span>
	{% endif %}
</form>
