{% load staticfiles %}
{% load thumbnail %}
{{ tag_list.management_form }}
{% if request.user.is_superuser or edit %}
    <form id="tags_form" method="{% if edit %}post{% else %}get{% endif %}" novalidate enctype="multipart/form-data">
{% endif %}

                     {% if edit %}
                         <li style="width: 100%;padding-left: 0">Название: {{ form.tag_title }}</li>
                         <li style="width: 100%;padding-left: 0">Ссылка: {{ form.tag_url }}</li>
                         <li style="width: 100%;padding-left: 0">Приоритет: {{ form.tag_priority }}</li>
                     {% endif %}

{% if request.user.is_superuser %}
                                             {% if edit %}
                                                 {% csrf_token %}
                                                 <br>
                                                 <button type="submit">Сохранить</button>
                                             {% else %}
                                                 <input type="hidden" name="edit" value="1">
                                                 <button type="submit">Быстрое редактирование</button>
                                             {% endif %}
                                         {% endif %}
{% if request.user.is_superuser or edit %}
    </form>
{% endif %}