{% extends "base/base.html" %}
{% load static %} {% load staticfiles %}


{% block additional_head %}
	<!--<link rel="stylesheet" href="{% static 'css/preloader.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">-->
{% endblock %}


{% block content %}
	<div class="grid_3">

		<div class="hidden-mobile">
			{% include 'lists/catalog-menu.html' with tags_menu=tags %}
		</div>
	</div>





	<div class="grid_8">
		{% if request.user.is_superuser %}
			<a href="/api-import">
				<i class="fas fa-upload"></i>
			</a>
		{% endif %}



		{#<h2 style="font-size: 13px;color: #999;">Каталог / {{ cat_title.tag_title }}</h2>#}

		<!--{#<div class="row">
			{% for tag in subtags %}
				{% if forloop.counter <= 4 %}
					<div class="col-2">
						<form action="/stag_post" id="stag_form" method="{% if edit %}post{% else %}get{% endif %}" novalidate enctype="multipart/form-data">
							<span class="stag_form_{{ tag.id }} stag_form_stl">
								<li>
									<a href="{%  url 'catalog' cat_url=tag.tag_url %}">{{ tag.tag_title }}</a>
								</li>
							</span>
							{% if request.user.is_superuser %} {% csrf_token %}
								<span class="super_user">
									<input type="hidden" name="edit" value="{{tag.id}}">
									<button type="submit" class="fast-set">
										<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
									</button>
								</span>
							{% endif %}
						</form>
					</div>
				{% endif %}
			{% endfor %}
		</div>
		<style type="text/css">
			#stag_form{
				display: flex;
				flex-direction: row;
	justify-content: center;
	align-items: stretch;
	flex-wrap: wrap;
	align-content: flex-start;
			}
		</style>#}-->
		{% block container_list_offers %}
		
		<div class="catalog-subtags">
			<ul class="catalog-subtags-ul">
			{% for tag in subtags %}
				{% if forloop.counter <= 4 %}
					<li>
						<a href="{%  url 'catalog' cat_url=tag.tag_url %}">{{ tag.tag_title }}</a>
					</li>
				{% endif %}
			{% endfor %}
		</div>

		
		<div class="hidden-mobile">
			{% include 'lists/cloud-tags.html' %}
		</div>


		<!--{# Панель отображения товаров(списком или блочно) и способ сортировки #}-->
		<div class="custom-viewers-line">			
			<div class="block-settings-type-sorted"></div>
			<div class="block-settings-type-view">
				<!--<p id="text-settings-list-or-block"></p>-->
				<a class="return-to-category">{{ cat_title.tag_title }}</a>

				<a id="offer-show-list" class="active"><i class="fa fa-th-list"></i></a>
				<a id="offer-show-block"><i class="fa fa-th-large"></i></a>
			</div>
		</div>



		<div class="custom-orders-list" {% if offer|length <= 2 %}style="justify-content: flex-start;"{% endif %}>
			{% for p in offer %}
				<div class="catalog-order order-show-list" {% if offer|length <= 2 %}style="margin-right: 20px;"{% endif %}>
					

					<div class="catalog-order-image">
						<a href="/goods/{{ p.offer_url }}/"><img src="{{ p.get_main_image }}"  alt="{{ p.offer_title }}"></a>
					</div>


					<div class="catalog-order-text">
							<h5 class="hidden-in-list title">{{ p.offer_title|truncatechars:40 }}</h5>
							<a href="/goods/{{ p.offer_url }}/" class="hidden-in-block title"><h5>{{ p.offer_title|truncatechars:40 }}</h5></a>
							
							{% if p.offer_price != 0 %}
								<b class="order-price">{{ p.offer_price|stringformat:"i" }} руб.</b>
							{% elif p.offer_price_from != 0 %}
								<b class="order-price">{{ p.offer_price_from|stringformat:"i" }} - {{ p.offer_price_to|stringformat:"i" }} руб.</b>
							{% else %}
								<b class="order-price">Нет в наличии</b>
							{% endif %}
							
							<p>{{ p.offer_pre_text|safe|truncatechars:160 }}</p>
					</div>


					<div class="catalog-order-button hidden-in-list">
						<a href="/goods/{{ p.offer_url }}/">Просмотреть</a>
					</div>
				</div>
			{% endfor %}
		</div>
		

			<div class="visible-mobile">
				{% include 'lists/cloud-tags.html' %}
			</div>

		{% endblock container_list_offers %}
	</div>

{% endblock %}












{% block additional_scripts %}
	<script type="text/javascript">
		$('#offer-show-block').on('click', function() {
			//alert($('.custom-orders-list').length());
			if ($('.custom-orders-list > .catalog-order').hasClass('order-show-list')){
				$('.custom-orders-list > .catalog-order').toggleClass('order-show-list order-show-block');
				//$('#text-settings-list-or-block').text('Таблицей');
				$('.block-settings-type-view > a:not(.return-to-category)').toggleClass('active');
			} else {
				//Is already show
			}
		});

		$('#offer-show-list').on('click', function() {
			if ($('.custom-orders-list > .catalog-order').hasClass('order-show-block')){
				$('.custom-orders-list > .catalog-order').toggleClass('order-show-list order-show-block');
				//$('#text-settings-list-or-block').text('Списком');
				$('.block-settings-type-view > a:not(.return-to-category)').toggleClass('active');
			} else {
				//Is already show
			}
		});
	</script>
{% endblock %}

<!--{#
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js" integrity="sha384-FzT3vTVGXqf7wRfy8k4BiyzvbNfeYjK+frTVqZeNDFl8woCbF0CYG6g2fMEFFo/i" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'js/jquery.preloader.min.js' %}"></script>
<script>
   $(document).on('submit', '#tag_form', function(e)  {
			e.preventDefault();
			$('#tag_form').preloader({setRelative: false});
			var form = e.target;
			$form = $(form);
			$form.ajaxSubmit({
				url: form.action,
				method: form.method,
				success: function (data) {
					try{
					if( data.indexOf('<span style="display: none">') > -1 ) {
						$(".tag_form_"+data.slice(data.indexOf('none">')+6, data.indexOf('</span>'))).html(data);
						$form.attr("method", "post");
						$(".fast-set").css("display","none");
						$('#tag_form').preloader('remove');
					}}
					catch (TypeError){
						 $form.attr("method", "get");
						$(".fast-set").css("display","block");
						if (data.del){
							 $(".tag_form_" + data.id).parent().remove();
						}
						else {
							$(".tag_form_" + data.id).html(
								'<li>' + '<a href="/catalog/' + data.tag_url + '">' + data.tag_title + '</a>' + '</li>'
							);
							$('.super_user').html();
						}
					}
					$('#tag_form').preloader('remove');
{#                    $('#fb_form').preloader('remove');#}
				},
				error: function (xhr, textStatus, error) {
					alert('Что-то пошло не так, перезагрузите страницу и попробуйте снова!');
					$('#tag_form').preloader('remove');
				}
			});
		});
	   $(document).on('click', '.cancel', function(evt) {
			evt.preventDefault();
			$.ajax({
				url: evt.href,
				success: function(data){
					$(evt.target).closest('form').replaceWith($.parseHTML(data));
				}
			});
	   });
	   $(document).on('submit', '#stag_form', function(e)  {
			e.preventDefault();
			$('#stag_form').preloader({setRelative: false});
			var form = e.target;
			$form = $(form);
			$form.ajaxSubmit({
				url: form.action,
				method: form.method,
				success: function (data) {

					try{
					if( data.indexOf('<span style="display: none">') > -1 ) {
						$(".stag_form_"+data.slice(data.indexOf('none">')+6, data.indexOf('</span>'))).html(data);
						$form.attr("method", "post");
						$(".fast-set").css("display","none");
						$('#stag_form').preloader('remove');
					}}
					catch (TypeError){
						 $form.attr("method", "get");
						$(".fast-set").css("display","block");
						if (data.del){
							 $(".stag_form_" + data.id).parent().remove();
						}
						else{
						$(".stag_form_"+data.id).html(
							'<li>'+'<a href="/catalog/'+data.tag_url+'">'+ data.tag_title +'</a>'+'</li>'
						);
						}
						$('.super_user').html();
					};
					$('#stag_form').preloader('remove');
{#                    $('#fb_form').preloader('remove');#}
				},
				error: function (xhr, textStatus, error) {
					alert('Что-то пошло не так, перезагрузите страницу и попробуйте снова!');
					$('#stag_form').preloader('remove');
				}
			});
		});
</script>
<style>
	.cloud span > li {
	list-style: none;
	display: inline;
}

.cloud span:nth-of-type(3n + 1) > li {
	font-size: 1.15em;
	color: darkgreen!important;
}

.cloud span:nth-of-type(4n+3) > li {
	font-size: 0.85em;
	color: darkolivegreen!important;
}

.cloud span:nth-of-type(5n - 3) > li {
	font-size: 1em;
	color: green!important;

}

.cloud span:nth-of-type(4n - 3) > li {
	font-size: 0.9em;
	color: forestgreen!important;
}

.stag-center {
	list-style: none;
}

.stag-center {
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	font-size: 17px;
}

.stag-center .col-6 {
	flex-grow: 1;
	flex-basis: 50%;
	margin-bottom: 30px;
}

.stag-center form {
	justify-content: center;
	text-align: center;
}

</style>
	#}-->