<div class="container">
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <div><span style="display: none">{{ id_edit }}</span></div>
            <div>Имя : <p style="color: black">{{ form.name }}</p></div>
            <div>Email : <p style="color: black">{{ form.email }}</p></div>
            <div>Adress : <p style="color: black">{{ form.address }}</p></div>
            <div>skype : <p style="color: black">{{ form.skype }}</p></div>
            <div>Мобильный телефон : <p style="color: black">{{ form.mob_phone }}</p></div>
            <div>Телефон : <p style="color: black">{{ form.rob_phone }}</p></div>
            <div>Facebook link : <p style="color: black">{{ form.facebook_link }}</p></div>
            <div>Twitter link : <p style="color: black">{{ form.twitter_link }}</p></div>
            <div><button class="btn btn-default" type="submit">Сохранить</button></div>
        </div>
    </div>
</div>