<span style="display: none">{{ id_edit }}</span>
<li>Имя : <span style="color: black">{{ form.name }}</span><br></li>
<li>Email : <span style="color: black">{{ form.email }}</span><br></li>
<li>Adress : <span style="color: black">{{ form.address }}</span><br></li>
<li>skype : <span style="color: black">{{ form.skype }}</span><br></li>
<li>Мобильный телефон : <span style="color: black">{{ form.mob_phone }}</span><br></li>
<li>Телефон : <span style="color: black">{{ form.rob_phone }}</span><br></li>
<li>Facebook link : <span style="color: black">{{ form.facebook_link }}</span><br></li>
<li>Twitter link : <span style="color: black">{{ form.twitter_link }}</span><br></li>
<br>
<button type="submit">Сохранить</button>