{% extends "main.html" %}
{% load static %} {% load staticfiles %}
{% block additional_head %}
    {{ form.media }}
    <link rel="stylesheet" href="{% static 'css/preloader.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
{% endblock %}



{% block content %}
    <!--
    ========================================================
                                CONTENT
    ========================================================
    -->
    <main>
        <section class="camera_container">
            <div id="camera" class="camera_wrap">
                {% for i in baner %}
                    <div data-src={{ i.baner_img.url }} >
                        <div class="camera_caption fadeIn">
                            <div class="container">
                                <div class="row">
                                    <a href="{{ i.baner_url }}" style="display: block"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
        <section>
            <div class="container banner_wr">
                <ul class="banner">
                    <li>
                        <form action="/fb_post" id="fb_form" method="{% if edit %}post{% else %}get{% endif %}" novalidate enctype="multipart/form-data">
                            <a href="{{ fb1.fb_url }}" id="url_fb_1">
                                <div class="fa-globe yel"></div>
                                <span class="form-fb-1">
                                    <h3>{{ fb1.fb_title }}</h3>
                                    <p>{{ fb1.fb_text|safe  }}</p>
                                </span>
                            </a>
                            {% if request.user.is_superuser %}
                            {% csrf_token %}
                            <span class="super_user">
                                <input type="hidden" name="edit" value="1">
                                <button type="submit" class="fast-set">
                                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                                </button>
                            </span>
                            {% endif %}
                        </form>
                    </li>
                    <li>
                        <form action="/fb_post" id="fb_form" method="{% if edit %}post{% else %}get{% endif %}" novalidate enctype="multipart/form-data">
                            <a href="{{ fb2.fb_url }}"  id="url_fb_2">
                                <div class="fa-lightbulb-o"></div>
                                <span class="form-fb-2">
                                    <h3>{{ fb2.fb_title }}<br></h3>
                                    <p>{{ fb2.fb_text|safe  }}</p>
                                </span>
                            </a>
                            {% if request.user.is_superuser %}
                            {% csrf_token %}
                            <span class="super_user">
                                <input type="hidden" name="edit" value="2">
                                <button type="submit" class="fast-set" >
                                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                                </button>
                            </span>
                            {% endif %}
                        </form>
                    </li>
                    <li>
                        <form action="/fb_post" id="fb_form" method="{% if edit %}post{% else %}get{% endif %}" novalidate enctype="multipart/form-data">
                            <a href="{{ fb3.fb_url }}"  id="url_fb_3">
                                <div class="fa-cog"></div>
                                <span class="form-fb-3">
                                    <h3>{{ fb3.fb_title }}</h3>
                                    <p>{{ fb3.fb_text|safe  }}</p>
                                </span>
                            </a>
                            {% if request.user.is_superuser %}
                            {% csrf_token %}
                            <span class="super_user">
                                <input type="hidden" name="edit" value="3">
                                <button type="submit" class="fast-set">
                                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                                </button>
                            </span>
                            {% endif %}
                        </form>
                    </li>
                    <li>
                        <form action="/fb_post" id="fb_form" method="{% if edit %}post{% else %}get{% endif %}" novalidate enctype="multipart/form-data">
                            <a href="{{ fb4.fb_url }}"  id="url_fb_4">
                                <div class="fa-briefcase"></div>
                                <span class="form-fb-4">
                                    <h3>{{ fb4.fb_title }}</h3>
                                    <p>{{ fb4.fb_text|safe  }}</p>
                                </span>
                            </a>
                            {% if request.user.is_superuser %}
                            {% csrf_token %}
                            <span class="super_user">
                                <input type="hidden" name="edit" value="4">
                                <button type="submit" class="fast-set">
                                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                                </button>
                            </span>
                            {% endif %}
                        </form>
                    </li>
                </ul>
            </div>
        </section>
        <section class="well ins1">
            <div class="container hr">
                <ul class="row product-list">
                    <li class="grid_6">
                        <div class="box wow fadeInRight wp">
                            <form action="/lb_post" id="lb_form" method="{% if edit %}post{% else %}get{% endif %}" novalidate enctype="multipart/form-data">
                                <span class="form_lb_1">
                                    <div class="box_aside">
                                        <div class="icon {{ lb1.lb_icon }}"></div>
                                    </div>
                                    <div class="box_cnt__no-flow">
                                        <h3><a href="{{ lb1.lb_link }}" id="url_lb_1">{{ lb1.lb_title }}</a></h3>
                                        <p>{{ lb1.lb_text|safe }}</p>
                                    </div>
                                </span>
                                {% if request.user.is_superuser %}
                                {% csrf_token %}
                                <span class="super_user">
                                    <input type="hidden" name="edit" value="1">
                                    <button type="submit" class="fast-set">
                                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                                    </button>
                                </span>
                                {% endif %}
                            </form>
                        </div>
                        <hr>
                        <div data-wow-delay="0.2s" class="box wow fadeInRight wp">
                            <form action="/lb_post" id="lb_form" method="{% if edit %}post{% else %}get{% endif %}" novalidate enctype="multipart/form-data">
                                <span class="form_lb_2">
                                    <div class="box_aside">
                                        <div class="icon {{ lb2.lb_icon }}"></div>
                                    </div>
                                    <div class="box_cnt__no-flow">
                                        <h3><a href="{{ lb2.lb_link }}" id="url_lb_2">{{ lb2.lb_title }}</a></h3>
                                        <p>{{ lb2.lb_text|safe  }}</p>
                                    </div>
                                </span>
                                {% if request.user.is_superuser %}
                                {% csrf_token %}
                                <span class="super_user">
                                    <input type="hidden" name="edit" value="2">
                                    <button type="submit" class="fast-set">
                                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                                    </button>
                                </span>
                                {% endif %}
                            </form>
                        </div>
                    </li>
                    <li class="grid_6">
                        <div data-wow-delay="0.3s" class="box wow fadeInRight wp">
                            <form action="/lb_post" id="lb_form" method="{% if edit %}post{% else %}get{% endif %}" novalidate enctype="multipart/form-data">
                                <span class="form_lb_3">
                                    <div class="box_aside">
                                        <div class="icon {{ lb3.lb_icon }}"></div>
                                    </div>
                                    <div class="box_cnt__no-flow">
                                        <h3><a href="{{ lb3.lb_link }}" id="url_lb_3">{{ lb3.lb_title }}</a></h3>
                                        <p>{{ lb3.lb_text|safe  }}</p>
                                    </div>
                                </span>
                                {% if request.user.is_superuser %}
                                {% csrf_token %}
                                <span class="super_user">
                                    <input type="hidden" name="edit" value="3">
                                    <button type="submit" class="fast-set"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></button>
                                </span>
                                {% endif %}
                            </form>
                        </div>
                        <hr>
                        <div data-wow-delay="0.4s" class="box wow fadeInRight wp">
                            <form action="/lb_post" id="lb_form" method="{% if edit %}post{% else %}get{% endif %}" novalidate enctype="multipart/form-data">
                                <span class="form_lb_4">
                                    <div class="box_aside">
                                        <div class="icon {{ lb4.lb_icon }}"></div>
                                    </div>
                                    <div class="box_cnt__no-flow">
                                        <h3><a href="{{ lb4.lb_link }}" id="url_lb_4">{{ lb4.lb_title }}</a></h3>
                                        <p>{{ lb4.lb_text|safe  }}</p>
                                    </div>
                                </span>
                                {% if request.user.is_superuser %}
                                {% csrf_token %}
                                <span class="super_user">
                                    <input type="hidden" name="edit" value="4">
                                    <button type="submit" class="fast-set">
                                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                                    </button>
                                </span>
                                {% endif %}
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <section class="well1">
            <div class="container">
                <div class="row">
                    <div class="grid_4">
                        <form action="/ac_post" id="ac_form" method="{% if edit %}post{% else %}get{% endif %}" novalidate enctype="multipart/form-data">
                            <span class="ac_form_1">
                                <h2>{{ ac1.ac_title }}</h2>
                                <p>{{ ac1.ac_text|safe }}</p>
                            </span>
                            <a href="/about" class="btn">Читать больше</a>
                            {% if request.user.is_superuser %}
                            {% csrf_token %}
                            <span class="super_user">
                                <input type="hidden" name="edit" value="1">
                                <button type="submit" class="fast-set"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                                </button>
                            </span>
                            {% endif %}
                        </form>
                    </div>
                    <div class="grid_4">
                        <h2>Товары</h2>
                        <p>Список самых покупаемых товаров</p>
                        <ul class="marked-list">
                            {% for i in TO %}
                                    <form action="/to_post" id="to_form" method="{% if edit %}post{% else %}get{% endif %}" novalidate enctype="multipart/form-data">
                                        <span class="to_form_{{i.id}}">
                                            <li><a href="/goods/{{i.to_link}}">{{ i.to_title }}</a></li>
                                        </span>
                                        {% if request.user.is_superuser %}
                                        {% csrf_token %}
                                        <span class="super_user">
                                            <input type="hidden" name="edit" value="{{i.id}}">
                                            <button type="submit" class="fast-set">
                                                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                                            </button>
                                        </span>
                                        {% endif %}
                                    </form>
                            {% endfor %}
                        </ul>
                        <a href="/catalog" class="btn">Читать больше</a>
                    </div>
                    <div class="grid_4">
                        <div class="info-box">
                            <form action="/sup_post" id="sup_form" method="{% if edit %}post{% else %}get{% endif %}" novalidate enctype="multipart/form-data">
                                <span class="sup_form">
                                    <h2 class="fa-comment">{{ sup.sup_title  }}</h2>
                                    <hr>
                                    <h3>{{ sup.sup_slogan }}</h3>
                                    <dl>
                                        <dd>{{ sup.sup_time }}</dd>
                                    </dl>
                                    <p>{{ sup.sup_phone }}</p>
                                </span>
                                {% if request.user.is_superuser %}
                                {% csrf_token %}
                                <span class="super_user">
                                    <input type="hidden" name="edit" value="1">
                                    <button type="submit" class="fast-set">
                                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                                    </button>
                                </span>
                                {% endif %}
                            </form>
                        </div>
                        <div class="owl-carousel">
                            {% for p in personal %}
                            <div class="item">
                                <blockquote class="box">
                                    <form action="/p_post" id="p_form" method="{% if edit %}post{% else %}get{% endif %}" novalidate enctype="multipart/form-data">
                                        <span class="p_form_{{p.id}}">
                                            <div class="box_aside">
                                                <img src="{{ p.p_photo.url }}" alt="">
                                            </div>
                                            <div class="box_cnt__no-flow">
                                                <p>
                                                    <q>{{ p.p_doljnost }}</q>
                                                </p>
                                                <cite><a href="/about">{{ p.p_name }}</a></cite>
                                            </div>
                                        </span>
                                        {% if request.user.is_superuser %}
                                        {% csrf_token %}
                                            <span class="super_user">
                                                 <input type="hidden" name="edit" value="{{p.id}}">
                                                 <button type="submit" class="fast-set">
                                                     <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                                                 </button>
                                            </span>
                                        {% endif %}
                                    </form>
                                </blockquote>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!--
    ========================================================
                                FOOTER
    ========================================================
    -->

{% endblock %}

{% block footer %}
    <footer>
        <section class="well3">
            <div class="container">
                <ul class="row contact-list">
                    <form action="/company_post" id="company_form" method="{% if edit %}post{% else %}get{% endif %}" novalidate enctype="multipart/form-data">
                        <span class="company_form_id">
                            <li class="grid_4">
                                <div class="box">
                                    <div class="box_aside">
                                        <div class="icon2 fa-map-marker"></div>
                                    </div>
                                    <div class="box_cnt__no-flow">
                                        <address>{{ company.address }}</address>
                                    </div>
                                </div>
                                <div class="box">
                                    <div class="box_aside">
                                        <div class="icon2 fa-skype"></div>
                                    </div>
                                    <div class="box_cnt__no-flow">{{ company.skype }}</div>
                                </div>
                            </li>
                            <li class="grid_4">
                                <div class="box">
                                    <div class="box_aside">
                                        <div class="icon2 fa-phone"></div>
                                    </div>
                                    <div class="box_cnt__no-flow">{{ company.mob_phone }}</div>
                                </div>
                                <div class="box">
                                    <div class="box_aside">
                                        <div class="icon2 fa-fax"></div>
                                    </div>
                                    <div class="box_cnt__no-flow">{{ company.rob_phone }}</div>
                                </div>
                            </li>
                            <li class="grid_4">
                                <div class="box">
                                    <div class="box_aside">
                                        <div class="icon2 fa-facebook"></div>
                                    </div>
                                    <div class="box_cnt__no-flow"><a href="{{ company.facebook_link }}">Мы в Фейсбуке</a></div>
                                </div>
                                <div class="box">
                                    <div class="box_aside">
                                        <div class="icon2 fa-twitter"></div>
                                    </div>
                                    <div class="box_cnt__no-flow"><a href="{{ company.twitter_link }}">Мы в Твиттере</a></div>
                                </div>
                            </li>
                        </span>
                        {% if request.user.is_superuser %}
                        {% csrf_token %}
                        <span class="super_user">
                            <input type="hidden" name="edit" value="1">
                            <button type="submit" class="fast-set">
                                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                            </button>
                        </span>
                        {% endif %}
                    </form>
                </ul>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="copyright">© Профсистемы-Крым 2016 г.
                    г. Гурзуф, ул. Ялтинская, 12 , +7 (978) 213-40-89
                    Время работы:
                    пн-вс 8:00-18:00, без перерыва
                </div>
            </div>
        </section>
    </footer>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js" integrity="sha384-FzT3vTVGXqf7wRfy8k4BiyzvbNfeYjK+frTVqZeNDFl8woCbF0CYG6g2fMEFFo/i" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/jquery.preloader.min.js' %}"></script>
    <script>
    $(document).on('submit', '#sup_form', function(e)  {
            e.preventDefault();
            $('#sup_form').preloader({setRelative: false});
            var form = e.target;
            $form = $(form);
            $form.ajaxSubmit({
                url: form.action,
                method: form.method,
                success: function (data) {
                    try{
                    if( data.indexOf('<span style="display: none">') > -1 ) {
                        $(".sup_form").html(data);
                        $form.attr("method", "post");
                        $(".fast-set").css("display","none");
                        $('#sup_form').preloader('remove');
                    }}
                    catch (TypeError){
                         $form.attr("method", "get");
                        $(".fast-set").css("display","block");
                        $(".sup_form").html(
                            '<h2 class="fa-comment">'+data.sup_title+'</h2>'
                            +'<hr>'
                            +'<h3>'+ data.sup_slogan +'</h3>'
                            +'<dl>'
                            +'<dd>'+data.sup_time+'</dd>'
                            +'</dl>'
                            +'<p>'+data.sup_phone+'</p>'
                        );
                        $('.super_user').html();
                    };
                    $('#sup_form').preloader('remove');
{#                    $('#fb_form').preloader('remove');#}
                },
                error: function (xhr, textStatus, error) {
                    alert('Что-то пошло не так, перезагрузите страницу и попробуйте снова!');
                    $('#sup_form').preloader('remove');
                }
            });
        });
     $(document).on('submit', '#p_form', function(e)  {
            e.preventDefault();
            $('#p_form').preloader({setRelative: false});
            var form = e.target;
            $form = $(form);
            $form.ajaxSubmit({
                url: form.action,
                method: form.method,
                success: function (data) {
                    try{
                    if( data.indexOf('<span style="display: none">') > -1 ) {
                        $(".p_form_"+data[28]).html(data);
                        $form.attr("method", "post");
                        $(".fast-set").css("display","none");
                        $('#p_form').preloader('remove');
                    }}
                    catch (TypeError){
                         $form.attr("method", "get");
                        $(".fast-set").css("display","block");
                        $(".p_form_"+data.id).html(
                             '<div class="box_aside">'+'<img src="'+data.p_photo.url+'"alt="">'+
                             '</div>'+'<div class="box_cnt__no-flow">'+'<p>'+
                             '<q>'+data.p_doljnost +'</q>'+ '</p>'+
                             '<cite>'+'<a href="/about">'+data.p_name+'</a>'+'</cite>'+
                             '</div>'
                        );
                        $('.super_user').html();
                    };
                    $('#p_form').preloader('remove');
{#                    $('#fb_form').preloader('remove');#}
                },
                error: function (xhr, textStatus, error) {
                    alert('Что-то пошло не так, перезагрузите страницу и попробуйте снова!');
                    $('#p_form').preloader('remove');
                }
            });
        });
      $(document).on('submit', '#company_form', function(e)  {
            e.preventDefault();
            $('#company_form').preloader({setRelative: false});
            var form = e.target;
            $form = $(form);
            $form.ajaxSubmit({
                url: form.action,
                method: form.method,
                success: function (data) {
                    try{
                    if( data.indexOf('<span style="display: none">') > -1 ) {
                        $(".company_form_id").html(data);
                        $form.attr("method", "post");
                        $(".fast-set").css("display","none");
                        $('#company_form').preloader('remove');
                    }}
                    catch (TypeError){
                         $form.attr("method", "get");
                        $(".fast-set").css("display","block");
                        $(".company_form_id").html(
                             '<li class="grid_4">'+
                        '<div class="box">'+
                            '<div class="box_aside">'+
                                '<div class="icon2 fa-map-marker">'+'</div>'+
                            '</div>'+
                            '<div class="box_cnt__no-flow">'+
                                '<address>'+data.address+'</address>'+
                            '</div>'+
                        '</div>'+
                        '<div class="box">'+
                            '<div class="box_aside">'+
                                '<div class="icon2 fa-skype">'+'</div>'+
                            '</div>'+
                            '<div class="box_cnt__no-flow">'+data.skype+'</div>'+
                        '</div>'+
                    '</li>'+
                    '<li class="grid_4">'+
                        '<div class="box">'+
                            '<div class="box_aside">'+
                                '<div class="icon2 fa-phone">'+'</div>'+
                            '</div>'+
                            '<div class="box_cnt__no-flow">'+data.mob_phone+'</div>'+
                        '</div>'+
                        '<div class="box">'+
                            '<div class="box_aside">'+
                               ' <div class="icon2 fa-fax">'+'</div>'+
                            '</div>'+
                            '<div class="box_cnt__no-flow">'+data.rob_phone+'</div>'+
                        '</div>'+
                    '</li>'+
                    '<li class="grid_4">'+
                        '<div class="box">'+
                            '<div class="box_aside">'+
                                '<div class="icon2 fa-facebook">'+'</div>'+
                            '</div>'+
                            '<div class="box_cnt__no-flow">'+'<a href="'+data.facebook_link+'">'+'Мы в Фейсбуке'+'</a>'+'</div>'+
                        '</div>'+
                        '<div class="box">'+
                            '<div class="box_aside">'+
                               ' <div class="icon2 fa-twitter">'+'</div>'+
                            '</div>'+
                            '<div class="box_cnt__no-flow">'+'<a href="'+ data.twitter_link+'">'+'Мы в Твиттере'+'</a>'+'</div>'+
                        '</div>'+
                    '</li>'
                        );
                        $('.super_user').html();
                    };
                    $('#company_form').preloader('remove');
{#                    $('#fb_form').preloader('remove');#}
                },
                error: function (xhr, textStatus, error) {
                    alert('Что-то пошло не так, перезагрузите страницу и попробуйте снова!');
                    $('#company_form').preloader('remove');
                }
            });
        });
     $(document).on('submit', '#hp_form', function(e)  {
            e.preventDefault();
            $('#hp_form').preloader({setRelative: false});
            var form = e.target;
            $form = $(form);
            $form.ajaxSubmit({
                url: form.action,
                method: form.method,
                success: function (data) {
                    try{
                    if( data.indexOf('<span style="display: none">') > -1 ) {
                        $(".hp_form_id").html(data);
                        $form.attr("method", "post");
                        $(".fast-set").css("display","none");
                        $('#hp_form').preloader('remove');
                    }}
                    catch (TypeError){
                         $form.attr("method", "get");
                        $(".fast-set").css("display","block");
                        $(".hp_form_id").html(''
                        );
                        $(".hp").attr("style","'background-image: url('+ data.hp_photo.url+')'");
                        $('.super_user').html();
                    };
                    $('#hp_form').preloader('remove');
{#                    $('#fb_form').preloader('remove');#}
                },
                error: function (xhr, textStatus, error) {
                    alert('Что-то пошло не так, перезагрузите страницу и попробуйте снова!');
                    $('#hp_form').preloader('remove');
                }
            });
        });
     $(document).on('submit', '#to_form', function(e)  {
            e.preventDefault();
            $('#to_form').preloader({setRelative: false});
            var form = e.target;
            $form = $(form);
            $form.ajaxSubmit({
                url: form.action,
                method: form.method,
                success: function (data) {
                    try{
                    if( data.indexOf('<span style="display: none">') > -1 ) {
                        $(".to_form_"+data[28]).html(data);
                        $form.attr("method", "post");
                        $(".fast-set").css("display","none");
                        $('#to_form').preloader('remove');
                    }}
                    catch (TypeError){
                         $form.attr("method", "get");
                        $(".fast-set").css("display","block");
                        $(".to_form_"+data.id).html(
                            '<li>'+'<a href="/goods/'+data.to_link+'">'+data.to_title+'</a>'+'</li>'
                        );
                        $('.super_user').html();
                    };
                    $('#to_form').preloader('remove');
{#                    $('#fb_form').preloader('remove');#}
                },
                error: function (xhr, textStatus, error) {
                    alert('Что-то пошло не так, перезагрузите страницу и попробуйте снова!');
                    $('#to_form').preloader('remove');
                }
            });
        });
    $(document).on('submit', '#fb_form', function(e)  {
            e.preventDefault();
            $('#fb_form').preloader({setRelative: false});
            var form = e.target;
            $form = $(form);
            $form.ajaxSubmit({
                url: form.action,
                method: form.method,
                success: function (data) {
                    try{
                    if( data.indexOf('<span style="display: none">') > -1 ) {
                        $(".form-fb-"+data[28]).html(data);
                        $form.attr("method", "post");
                        $(".fast-set").css("display","none");
                        $("#url_fb_"+data[28]).attr("href", "javascript:");
{#                        init_data();#}
                        $('#fb_form').preloader('remove');
                    }}
                    catch (TypeError){
                         $form.attr("method", "get");
                        $(".fast-set").css("display","block");
                        $(".form-fb-"+data.id).html(
                            '<h3>' + data.fb_title + '</h3>' +
                            '<p>' + data.fb_text + '</p>'
                        );
                        $('.super_user').html();
                        $("#url_fb_"+data.id).attr("href", data.fb_url);
                    };
                    $('#fb_form').preloader('remove');
{#                    $('#fb_form').preloader('remove');#}
                },
                error: function (xhr, textStatus, error) {
                    alert('Что-то пошло не так, перезагрузите страницу и попробуйте снова!');
                    $('#fb_form').preloader('remove');
                }
            });
        });
    function init_data(){
             tinyMCE.init({
                 mode : "textareas",
                 theme : "advanced",
                 width : "30%"
             });

        }
        init_data();
    $(document).on('submit', '#lb_form', function(e)  {
            e.preventDefault();
            $('#lb_form').preloader({setRelative: false});
            var form = e.target;
            $form = $(form);
            $form.ajaxSubmit({
                url: form.action,
                method: form.method,
                success: function (data) {
                    try{
                    if( data.indexOf('<span style="display: none">') > -1 ) {
                        $(".form_lb_"+data[28]).html(data);
                        $form.attr("method", "post");
                        $(".fast-set").css("display","none");
                        $("#url_lb_"+data[28]).attr("href", "javascript:");
                        init_data();
                        $('#lb_form').preloader('remove');
                    }}
                    catch (TypeError){
                         $form.attr("method", "get");
                        $(".fast-set").css("display","block");
                        $(".form_lb_"+data.id).html(
                            '<div class="box_aside">'+'<div class="icon' + data.lb_icon + '">'+'</div>'+ '</div>'+ '<div class="box_cnt__no-flow">'+'<h3>'
                            +'<a href="'+ data.lb_link + '"'+ 'id="url_lb_'+data.id+'">'+data.lb_title+'</a>'+'</h3>'
                                +'<p>'+data.lb_text+'</p>'+
                            '</div>'
                        );
                        $('.super_user').html();
                        $("#url_fb_"+data.id).attr("href", data.lb_link);
                    };
                    $('#lb_form').preloader('remove');
{#                    $('#fb_form').preloader('remove');#}
                },
                error: function (xhr, textStatus, error) {
                    alert('Что-то пошло не так, перезагрузите страницу и попробуйте снова!');
                    $('#lb_form').preloader('remove');
                }
            });
        });
    $(document).on('submit', '#ac_form', function(e)  {
            e.preventDefault();
            $('#ac_form').preloader({setRelative: false});
            var form = e.target;
            $form = $(form);
            $form.ajaxSubmit({
                url: form.action,
                method: form.method,
                success: function (data) {
                    try{
                    if( data.indexOf('<span style="display: none">') > -1 ) {
                        $(".ac_form_"+data[28]).html(data);
                        $form.attr("method", "post");
                        $(".fast-set").css("display","none");
                        init_data();
                        $('#ac_form').preloader('remove');
                    }}
                    catch (TypeError){
                         $form.attr("method", "get");
                        $(".fast-set").css("display","block");
                        $(".ac_form_1").html(
                            '<h2>'+data.ac_title+'</h2>'+
                        '<p>'+data.ac_text+'</p>'
                        );
                        $('.super_user').html();
                    };
                    $('#ac_form').preloader('remove');
{#                    $('#fb_form').preloader('remove');#}
                },
                error: function (xhr, textStatus, error) {
                    alert('Что-то пошло не так, перезагрузите страницу и попробуйте снова!');
                    $('#ac_form').preloader('remove');
                }
            });
        });

    </script>
{% endblock %}