{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Профсистемы-Крым (пгт Гурзуф, ул. Ялтинская, 12) | Прайс-лист компании Профсистемы-Крым</title>
        <meta charset="utf-8">
        <meta name="format-detection" content="telephone=no">
        <link rel="icon" href="http://cdn.stpulscen.ru/system/images/apress/companies/templates/favicons/001/295/227_ico.ico" type="image/x-icon">
        <link rel="stylesheet" href={% static "css/grid.css" %}>
        <link rel="stylesheet" href={% static "css/colorScheme-5.css" %}>
        <link rel="stylesheet" href={% static "css/style.css" %}>
        <link rel="stylesheet" href={% static "css/camera.css" %}>
        <link rel="stylesheet" href={% static "css/owl-carousel.css" %}>
        <link type="text/css" rel="stylesheet" href={% static "css/lightslider.css" %}>
        <link type="text/css" rel="stylesheet" href={% static "css/lightbox.css" %}>
        <script src={% static "js/jquery.js" %}></script>
        <script src={% static "js/jquery-migrate-1.2.1.js" %}></script>
        <script src={% static "js/lightslider.js" %}></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
        <!--[if lt IE 9]>
        <!--<html class="lt-ie9">
        <div style="clear: both; text-align:center; position: relative;"><a href="http://windows.microsoft.com/en-US/internet-explorer/.."><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
        </html>
        <script src={% static "js/html5shiv.js" %}></script>--><![endif]-->
        <script src={% static "js/device.min.js" %}></script>
        <script src={% static "js/lightbox.js" %}></script>
        {% block additional_head %}
        {% endblock %}
    </head>
    <body>
        <div class="page">
        <!--
        ========================================================
      							HEADER
      	========================================================
      	-->
            <header class="hp" style="background-image: url({{ hf.hp_photo.url }})">
                <div class="container">
                    <div class="brand">
                        <img src={% static  "images/imgpsh_fullsize.png" %} width="180px">
                        <h1 class="brand_name"><a href="/">Профсистемы-Крым</a></h1>
                    </div>
                    <a href="callto:#" class="fa-phone">+7(978)213-40-89</a>
                    <p>Время работы: пн-вс 8:00-18:00, без перерыва</p>
                </div>
                <div id="stuck_container" class="stuck_container" style="background: #0c623b !important">
                    <div class="container">
                        <nav class="nav">
                            <ul data-type="navbar" class="sf-menu" style="padding: 0;margin: 0;">
                                <li class="active">
                                    <a href="/">Главная</a>
                                </li>
                                {% for k in topmenu_category %}
                                {% if k.post_cat_level == 1 %}
                                <li style="width:100%; background: #196743 !important" class="active {%if k.post_title.lower == 'спецпредложения' %}special{% endif %}">
                                    <a href="/{{ k.post_seourl }}">{{ k.post_title }}</a>
                                </li>
                                {% endif %}
                                {% endfor %}
                                {% for g in topmenu_category %}
                                {% if g.post_category == k.post_category and g.post_cat_level > 1 %}
                                <li class="active">
                                    <a href="/{{ g.post_seourl }}">{{ g.post_title }}111</a>
                                </li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </header>
            <form action="hp_post" id="hp_form" method="{% if edit %}post{% else %}get{% endif %}" novalidate enctype="multipart/form-data">
                <span class="hp_form_id"></span>
                {% if request.user.is_superuser %}
                {% csrf_token %}
                <span class="super_user">
                    <input type="hidden" name="edit" value="1">
                    <button type="submit" class="fast-set" style="color: white;font-size: 20px;position: relative;bottom:65px;">
                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                    </button>
                </span>
                {% endif %}
            </form>
            {% block content %}
            {% endblock %}
            {% block footer %}
            {% endblock %}
        </div>
    </body>
    <script src={% static "js/script.js" %}></script>
    {% block additional_scripts %}
    {% endblock %}
</html>