{% extends "main.html" %}
{% load static %} {% load staticfiles %}

{% block content %}



 <div class="container hr well1 ins2">
     <div class="row">
    <div class="grid_3">
          <div class="scrol-right-menu" >
              <h2>Каталог</h2>
         <ul class="marked-list">
             {% for i in tags %}
                  <li><a href="/catalog/{{ i.tag_url }}">{{ i.tag_title }}</a></li>
             {% endfor %}

                </ul>
         </div>
</div>
         <div class="grid_6">
                     <section>
          <div class="container  well1 ins2">
            <div class="row">
                <h2 style="width: 50%; padding-left: 20px; padding-bottom: 30px" >{{ offer.offer_title }}</h2>
              <div class="grid_3">
                <div class="of_photo">
                    <script>$(document).ready(function() {
    $('#imageGallery').lightSlider({
        gallery:true,
        item:1,
        loop:true,
        thumbItem:9,
        slideMargin:0,
        enableDrag: false,
        currentPagerPosition:'left',
        onSliderLoad: function(el) {
            el.lightGallery({
                selector: '#imageGallery .lslide'
            });
        }
    });
  });</script>

                  {% if offer.offer_photo or offer.offer_url%}
                   <ul id="imageGallery">
                       {% if offer.offer_photo %}

                       <li data-thumb="/media/{{ offer.offer_photo }}" data-src="/media/{{ offer.offer_photo }}">
                    <a href="/media/{{ offer.offer_photo }}" data-lightbox="roadtrip"><img src="/media/{{ offer.offer_photo }}" width="220px"/></a>
                    </li>

                       {% endif %}
                    {% if offer.offer_url %}

                          {% for img in offer.offer_photo_url.all %}
                    <li data-thumb="/media/{{ img.images_url }}" data-src="/media/{{ img.images_url }}" >
                    <a href="/media/{{ img.images_url }}" data-lightbox="roadtrip"><img src="/media/{{ img.images_url }}" width="220px"/></a>
                    </li>
                    {% endfor %}
                        {% endif %}


</ul>
              {% else %}
                  <img src="http://neskuchnij.net/nophoto.jpg" width="200px" height="200px" alt="">
              {% endif %}
                </div>
              </div>
              <div class="grid_6">
                <div class="row">
                  <div class="grid_6">
                    <dl class="info" style="margin-left: -50px">
                        <p>Мин. заказ: {{ offer.offer_minorder }} {{ offer.offer_minorder_value}}&nbsp;|&nbsp;{{ offer.offer_availability }}&nbsp;|&nbsp;Арт: {{ offer.offer_article }}</p>
                      <p style="font-size: 20px; font-weight:bold; padding-top: 10px"> Цена  &nbsp;: &nbsp;{% if offer.offer_price_from == 0 %}{{ offer.offer_price|stringformat:"i" }}{% else %}{{ offer.offer_price_from|stringformat:"i" }} - {{ offer.offer_price_to|stringformat:"i" }}{% endif%} руб.</p>
                        </br>

                    </dl>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="well1 ins3">
          <div class="container">
            <h3>Описание</h3>
            <div class="row off1">
              <div class="grid_6">
                  {{ offer.offer_text|safe }}
              </div>

            </div>
          </div>
        </section>
         </div>
         <div class="grid_3">
    <ul class="cloud">
        {% for tag in subtags %}
            <li><a href="{%  url 'catalog' cat_url=tag.tag_url %}">{{ tag.tag_title }}</a></li>
        {% endfor %}
    </ul>
</div>
     </div>
 </div>
{% endblock %}

{% block footer %}<footer>
<div class="container">
            <div class="copyright">© Профсистемы-Крым 2016 г.
г. Гурзуф, ул. Ялтинская, 12 , +7 (978) 213-40-89
Время работы:
пн-вс 8:00-18:00, без перерыва
            </div>
          </div>
</footer>
{% endblock %}