{% extends "main.html" %}
{% load staticfiles %}

{% block additional_head %}
    {{ form.media }}
    <link rel="stylesheet" href="{% static 'css/preloader.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
{% endblock %}

{% block content %}

 <div class="container hr well1 ins2">
     <div class="row">
         <div class="grid_3">
             <div class="scrol-right-menu" >
                 <h2>Группа товаров</h2>
                 <ul class="marked-list">
                     {% for i in tags %}<li><a href="/catalog/{{ i.tag_url }}">{{ i.tag_title }}</a></li>
                     {% endfor %}
                 </ul>
             </div>
         </div>
         <div class="grid_6">
             {% include 'offer_form.html' %}
         </div>
         <div class="grid_3">
             <ul class="cloud">
                 {% for tag in subtags %}
                     <li><a href="{%  url 'catalog' cat_url=tag.tag_url %}">{{ tag.tag_title }}</a></li>
                 {% endfor %}
            </ul>
         </div>
     </div>
 </div>

 {% if request.user.is_superuser %}
     <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel">
         <div class="modal-dialog modal-lg" role="document">
             <div class="modal-content">
                 <form method="post" action="{% url 'offer_images' offer.offer_url %}" id="images_form">
                     <div class="modal-header" style="text-align: center;">
                         <button data-dismiss="modal" id="without_save" style="width: auto; margin-top:0; margin-right: 10px; float: left;" class="btn">Закрыть без применения изменений</button>
                         <button style="width: auto; margin-top:0;" type="submit" class="btn">Применить изменения</button>
                         <button style="margin-top: 0px; float: right;" type="button" class="btn" data-dismiss="modal" aria-label="Close">Закрыть окно</button>
                     </div>
                    <div class="modal-body">
                        {% include 'images_inline_form.html' %}
                    </div>

                 </form>
             </div>
         </div>
     </div>
 {% endif %}
{% endblock %}

{% block footer %}
    <footer>
        <div class="container">
            <div class="copyright">© Профсистемы-Крым 2016 г.
г. Гурзуф, ул. Ялтинская, 12 , +7 (978) 213-40-89
Время работы:
пн-вс 8:00-18:00, без перерыва
            </div>
          </div>
    </footer>
{% endblock %}

<script type="text/javascript" src="{% static "js/tiny_mce/tiny_mce.js" %}"></script>

{% block additional_scripts %}
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js" integrity="sha384-FzT3vTVGXqf7wRfy8k4BiyzvbNfeYjK+frTVqZeNDFl8woCbF0CYG6g2fMEFFo/i" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/jquery.preloader.min.js' %}"></script>
    {{ images.management_form }}
    <script type="text/javascript">
        function cloneMore(selector, type) {
            var newElement = $(selector).clone(true);
            var total = $('#id_' + type + '-TOTAL_FORMS').val();
            newElement.find(':input').each(function() {
                var name = $(this).attr('name').replace('-' + (total-1) + '-','-' + total + '-');
                var id = 'id_' + name;
                $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
            });
            newElement.find('label').each(function() {
                var newFor = $(this).attr('for').replace('-' + (total-1) + '-','-' + total + '-');
                $(this).attr('for', newFor);
            });
            total++;
            $('#id_' + type + '-TOTAL_FORMS').val(total);
            $(selector).after(newElement);
        }

        function init_data(){
             $('#imageGallery').lightSlider({
                gallery:true,
                item:1,
                thumbItem:9,
                slideMargin:0,
                enableDrag: false,
            });

             tinyMCE.init({
                 mode : "textareas",
                 theme : "advanced",
             });

        }

        init_data();


       $('#add_more').click(function() {
           cloneMore('.table:last tr:last', 'images');
       });
       if(!($('.main-check:checked').length)){

           $('.main-check:first').prop('checked', true);
       }
       $('.main-check').on('change', function() {
           $('.main-check').not(this).prop('checked', false);

           if(!($('.main-check:checked').length)){
               $('.main-check:first').prop('checked', true);
           }
       });
       $('[data-toggle="tooltip"]').tooltip();
       $(document).on('submit', '#update_offer_form', function(e)  {
            e.preventDefault();
            $('#update_offer_form').preloader({setRelative: false});
            var form = e.target;
            $form = $(form);

            $form.ajaxSubmit({
                url: form.action,
                method: form.method,
                success: function (data) {
                    $form.replaceWith($.parseHTML(data));
                    init_data();
                    $('#update_offer_form').preloader('remove');
                },
                error: function (xhr, textStatus, error) {
                    alert('Что-то пошло не так, перезагрузите страницу и попробуйте снова!');
                    $('#update_offer_form').preloader('remove');
                }
            });
        });

       $(document).on('submit', '#images_form', function(e)  {
            e.preventDefault();
            $('#images_form').preloader({setRelative: false});
            var form = e.target;
            $form = $(form);
            $form.ajaxSubmit({
                url: form.action,
                method: form.method,
                success: function (data) {
                    console.log(data);
                     $form.find(".modal-body").html($.parseHTML(data));
                    $('#images_form').preloader('remove');
                    $('#add_more').click(function() {
                        cloneMore('.table:last tr:last', 'images');
                    });
                    if(!($('.main-check:checked').length)){

                        $('.main-check:first').prop('checked', true);
                    }
                    $('.main-check').on('change', function() {
                        $('.main-check').not(this).prop('checked', false);
                        if(!($('.main-check:checked').length)){

                            $('.main-check:first').prop('checked', true);
                        }
                    });
                    $('[data-toggle="tooltip"]').tooltip();
                },
                error: function (xhr, textStatus, error) {
                    $('#images_form').preloader('remove');
                    alert('Что-то пошло не так, перезагрузите страницу и попробуйте снова!');
                }
            });
        });

       $('#without_save').on('click', function(e)  {
           e.preventDefault();
           $form = $('#images_form');
           $form.preloader({setRelative: false});
           console.log($form.attr('action'));
           $.ajax({
                url: $form.attr('action'),
                method: 'get',
                success: function (data) {
                    $form.find(".modal-body").html($.parseHTML(data));
                    console.log('Hello');
                    $form.preloader('remove');
                    $('#add_more').click(function() {
                        cloneMore('.table:last tr:last', 'images');
                    });
                    if(!($('.main-check:checked').length)){

                        $('.main-check:first').prop('checked', true);
                    }
                    $('.main-check').on('change', function() {
                        $('.main-check').not(this).prop('checked', false);
                        if(!($('.main-check:checked').length)){

                            $('.main-check:first').prop('checked', true);
                        }
                    });
                    $('[data-toggle="tooltip"]').tooltip();
                },
                error: function (xhr, textStatus, error) {
                    $form.preloader('remove');
                    alert('Что-то пошло не так, перезагрузите страницу и попробуйте снова!');
                }
            });
        });

       $(document).on('click', '.cancel', function(evt) {
            evt.preventDefault();
            $.ajax({
                url: evt.href,
                success: function(data){
                    $(evt.target).closest('form').replaceWith($.parseHTML(data));
                }
            });
       });
    </script>
{% endblock %}