{% load staticfiles %}

{% if request.user.is_superuser or edit %}
    <form id="update_offer_form" method="{% if edit %}post{% else %}get{% endif %}" novalidate enctype="multipart/form-data">
{% endif %}
<section>
                 <div class="container  well1 ins2">
                     <div class="row">
                         <h2 style="width: 50%; padding-left: 20px; padding-bottom: 30px" >
                             {% if edit %}
                                 {{ form.offer_title }}
                             {% else %}
                                {{ offer.offer_title }}
                             {% endif %}
                         </h2>
                         <div class="grid_3">
                             <div class="of_photo">
                                 {% if offer.offer_photo or offer.images.all %}
                                     <ul id="imageGallery">
                                         {% if offer.offer_photo %}
                                             <li data-thumb="{{ offer.offer_photo.url }}" data-src="{{ offer.offer_photo.ur. }}">
                                                 <a href="{{ offer.offer_photo.url }}" data-lightbox="roadtrip"><img src="/media/{{ offer.offer_photo }}" width="220px"/></a>
                                             </li>
                                         {% endif %}
                                         {% if offer.images %}
                                             {% for img in offer.images.all %}
                                                 {% if img.images_file %}
                                                     <li data-thumb="{{ img.images_file.url }}" data-src="{{ img.images_file.url }}" >
                                                         <a href="{{ img.images_file.url }}" data-lightbox="roadtrip"><img src="{{ img.images_file.url }}" width="220px"/></a>
                                                     </li>
                                                 {% endif %}
                                             {% endfor %}
                                         {% endif %}
                                     </ul>
                                 {% else %}
                                     <img src="{% static 'images/nophoto.jpg' %}" width="200px" height="200px" alt="">
                                 {% endif %}
                             </div>
                         </div>
                         <div class="grid_6">
                             <div class="row">
                                 <div class="grid_6">
                                     <dl class="info" style="margin-left: -50px">
                                         {% if edit %}
                                             <p>Мин. заказ: {{ form.offer_minorder }} {{ form.offer_minorder_value}}&nbsp;|&nbsp;<br>Наличие: {{ form.offer_availability }}&nbsp;|&nbsp;<br>Арт: {{ form.offer_article }}</p>
                                             <p style="font-size: 20px; font-weight:bold; padding-top: 10px"> Цена  &nbsp;: &nbsp;{% if offer.offer_price_from == 0 %}{{ form.offer_price }}{% else %}{{ form.offer_price_form }} - {{ form.offer_price_value }}{% endif %} руб.</p>
                                         {% else %}
                                             <p>Мин. заказ: {{ offer.offer_minorder }} {{ offer.offer_minorder_value}}&nbsp;|&nbsp;{{ offer.offer_availability }}&nbsp;|&nbsp;Арт: {{ offer.offer_article }}</p>
                                             <p style="font-size: 20px; font-weight:bold; padding-top: 10px"> Цена  &nbsp;: &nbsp;{% if offer.offer_price_from == 0 %}{{ offer.offer_price|stringformat:"i" }}{% else %}{{ offer.offer_price_from|stringformat:"i" }} - {{ offer.offer_price_to|stringformat:"i" }}{% endif%} руб.</p>
                                         {% endif %}
                                         {% if request.user.is_superuser %}
                                             {% csrf_token %}
                                             {% if edit %}
                                                 <br>
                                                 <button type="submit">Сохранить</button>
                                                 <button type="button" data-toggle="modal" data-target="#imageModal">
                                                     Изображения
                                                 </button>
                                             {% else %}
                                                <p><a href="{{ offer.get_admin_url }}" target="_blank">Редактировать в Админке</a></p>
                                                 <input type="hidden" name="edit" value="1">
                                                 <button type="submit">Быстрое редактирование</button>
                                             {% endif %}
                                         {% endif %}
                                         </br>
                                     </dl>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
             </section>
             <section class="well1 ins3">
                 <div class="container"><h3>Описание</h3><div class="row off1">
                     <div class="grid_6">
                         {% if edit %}
                             {{ form.media }}
                             {{ form.offer_text }}
                         {% else %}
                            {{ form.offer_text.value|safe }}
                         {% endif %}
                     </div>
                 </div>
                 </div>
             </section>

{% if edit %}
    <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
              {% if form.non_field_errors %}

                  <div class="non-field-errors">
                      {% for err in form.non_field_errors %}
                          <p class="form-error">{{ err }}</p>
                      {% endfor %}
                  </div>

              {% endif %}
              <table class="table" id="formset" data-formset-prefix="{{ formset.prefix }}">

                  {% for form in images.forms %}{% if forloop.first %}
                      <thead>
                      <tr>
                          {% for field in form.visible_fields %}
                              <th>{{ field.label|capfirst }}</th>
                          {% endfor %}
                      </tr>
                      </thead>
                  {% endif %}
                      <tr class="formset_row">
                          {% if form.non_field_errors %}
                              <td>

                                  <div class="non-field-errors">
                                      {% for err in form.non_field_errors %}
                                          <p class="form-error">{{ err }}</p>
                                      {% endfor %}
                                  </div>

                              </td>
                          {% endif %}
                          {% for field in form.visible_fields %}
                              <td>
                                  {# Include the hidden fields in the form #}
                                  {% if forloop.first %}
                                      {% for hidden in form.hidden_fields %}
                                          {{ hidden }}
                                      {% endfor %}
                                  {% endif %}
                                  {{ field.errors.as_ul }}
                                  {{ field }}
                                  {% if field.name == 'images_file' %}{{ field.value.width }}x{{ field.value.height }}{% endif %}
                              </td>
                          {% endfor %}
                      </tr>
                  {% endfor %}
              </table>
              {{ images.management_form }}
          </div>
          <div class="modal-footer">
              <button type="button" class="btn" id="add_more">Добавить</button>
            <button type="button" class="btn" data-dismiss="modal">Закрыть</button>
          </div>
        </div>
      </div>
    </div>
{% endif %}
{% if request.user.is_superuser or edit %}

    </form>

{% endif %}

