{% extends "main.html" %}
{% load static %} {% load staticfiles %}

{% block additional_head %}
    {{ form.media }}
{% endblock %}

{% block content %}

 <div class="container hr well1 ins2">
     <div class="row">
         <div class="grid_3">
             <div class="scrol-right-menu" >
                 <h2>Каталог</h2>
                 <ul class="marked-list">
                     {% for i in tags %}<li><a href="/catalog/{{ i.tag_url }}">{{ i.tag_title }}</a></li>
                     {% endfor %}
                 </ul>
             </div>
         </div>
         <div class="grid_6">

                {% include 'offer_form.html' %}

         </div>
         <div class="grid_3">
             <ul class="cloud">
                 {% for tag in subtags %}
                     <li><a href="{%  url 'catalog' cat_url=tag.tag_url %}">{{ tag.tag_title }}</a></li>
                 {% endfor %}
            </ul>
         </div>
     </div>
 </div>

{% endblock %}

{% block footer %}
    <footer>
        <div class="container">
            <div class="copyright">© Профсистемы-Крым 2016 г.
г. Гурзуф, ул. Ялтинская, 12 , +7 (978) 213-40-89
Время работы:
пн-вс 8:00-18:00, без перерыва
            </div>
          </div>
    </footer>
{% endblock %}

<script type="text/javascript" src="{% static "js/tiny_mce/tiny_mce.js" %}"></script>

{% block additional_scripts %}
    <script type="text/javascript">

        $(document).ready(function() {
            $('#imageGallery').lightSlider({
                gallery:true,
                item:1,
                loop:true,
                thumbItem:9,
                slideMargin:0,
                enableDrag: false,
                currentPagerPosition:'left',
                onSliderLoad: function(el) {
                    el.lightGallery({
                        selector: '#imageGallery .lslide'
                    });
                }
            });
        });

       $(document).on('submit', 'form', function(e)  {
            e.preventDefault();
            var form = e.target;
            $form = $(form);
            var url = $(this).attr("action");
            var method = $(this).attr("method");
            var data = $form.serialize();
            console.log(data);
            $.ajax({
                url: form.action,
                method: form.method,
                data: data,
                success: function (data) {
                    $form.replaceWith($.parseHTML(data));
                    $('#imageGallery').lightSlider({
                        gallery:true,
                        item:1,
                        loop:true,
                        thumbItem:9,
                        slideMargin:0,
                        enableDrag: false,
                        currentPagerPosition:'left',
                        onSliderLoad: function(el) {
                            el.lightGallery({
                                selector: '#imageGallery .lslide'
                            });
                        }
                    });
                    tinyMCE.init({
                        mode : "textareas",
                        theme : "advanced"
                    });
                }
            })
        });

       $(document).on('click', '.cancel', function(evt) {
            evt.preventDefault();
            $.ajax({
                url: evt.href,
                success: function(data){
                    $(evt.target).closest('form').replaceWith($.parseHTML(data));
                }
            });
       });
    </script>
{% endblock %}