{% extends "main.html" %}
{% load static %} {% load staticfiles %}
{% load crispy_forms_tags %}
{% block content %}
    {% block additional_head %}
    <link rel="stylesheet" href="{% static 'css/preloader.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
{% endblock %}
<div class="container hr well1 ins2">
    <div class="row">
        <div class="grid_9">
            <div>
                <div class="form" id="send-review-button">
                    <button type="button" class="btn btn-success btn-lg width-large" id="show-form">Оставить отзыв</button>
                </div>

                <div class="form" id="send-review">
                    <h2>Ваш отзыв</h2>
                    <form enctype="multipart/form-data" method="post" action="{% url 'review' %}">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="alert alert-danger" role="alert" style="color: LightCoral">
                            <strong>{{ message }}</strong>
                        </div>
                        <script src='https://www.google.com/recaptcha/api.js'></script>
                        <div class="g-recaptcha" data-sitekey="6Lcn_EEUAAAAAPXcH-onQT9rJwlu9npydCzx2Q3I"></div>

                        <input class="btn btn-primary btn-success " type="submit" name="submit" value="Добавить"
                               id="submit-id-submit"/>

                        <!-- {% if messages %}
                            <div class="messages">
                                <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                                {{ message }}
                                </div>
                            </div>
                        {% endif %} -->
                    </form>
                </div>

                <h1 style="margin: 20px 0px 20px 0px">Отзывы</h1>
            {% if request.user.is_superuser %}
                  <div class="alert text-center" id="alert" role="alert" style="color: #155724;height: 40px;text-align: center;
                     line-height: 40px;background-color: #d4edda;border-color: #c3e6cb;visibility: hidden;border-radius: 0.3em;">
                    <h4>Удалено</h4>
                  </div>
            {% endif %}
                {% for review in reviews %}
                <div class="review" id="review_{{ review.id }}">
                    <article class="row">
                        <div class="panel panel-default arrow left">
                            <div class="panel-body">
                                <div class="text-left">
                                    <div class="comment-user" style='font-size: large'>
                                        <i class="fa fa-user"></i>
                                        <b>{% if review.name %}{{ review.name }}{% else %}Аноним{% endif %}</b>
                                     {% if request.user.is_superuser or edit %}
                                    <div style="float: right;position: relative;margin-right: 25px" id="delete_comment" data-id="{{ review.id }}"><a href="javascript;">X</a></div>
                                    {% endif %}
                                    </div>
                                    <time class="comment-date" datetime="16-12-2014 13:05"><i class="fa fa-clock-o"></i>
                                        {{ review.date|date:'Y-m-d H:i' }}
                                    </time>
                                </div>
                                <div class="comment-post">
                                    <p>
                                        {{ review.text }}
                                    </p>
                                </div>
                            {% if request.user.is_superuser %}
                                <form action="/comment_admin" id="comment_admin_form" method="{% if edit %}post{% else %}get{% endif %}" novalidate enctype="multipart/form-data">
                            {% endif %}
                            <span class="comment_admin_{{ review.id }}">
                                {% if review.comment %}
                                    <div style="border-top:1px dotted darkgreen;">
                                        <div class="admin-block text-left" style="padding-left: 20px">
                                                <div class="comment-user" style='font-size: large'>
                                                        <i class="fa fa-user"></i>
                                                        <b>Администрация</b>
                                                    </div>
                                                <div class="comment-admin" style="padding-left: 10px">
                                                    <p>
                                                        {{ review.comment|safe }}
                                                    </p>
                                                </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </span>
                            {% if request.user.is_superuser %}
                                            <span class="super_user">
                                                 <input type="hidden" name="edit" value="{{ review.id }}">
                                                 <button type="submit" class="fast-set" >Добавить</button>
                                                                 </span>
                            {% endif %}
                            {% csrf_token %}
                        {% if request.user.is_superuser or edit %}
                            </form>
                        {% endif %}
                            </div>
                        </div>

                    </article>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="grid_3">
            <ul class="cloud">
                {% for tag in tags %}
                <li><a href="{%  url 'catalog' cat_url=tag.tag_url %}">{{ tag.tag_title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
<footer>
    <div class="container">
        <div class="copyright">
            <p>
                © Профсистемы-Крым 2016 г.
                г. Гурзуф, ул. Ялтинская, 12 , +7 (978) 213-40-89
                Время работы:пн-вс 8:00-18:00, без перерыва
            </p>
        </div>
    </div>
</footer>
     <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js" integrity="sha384-FzT3vTVGXqf7wRfy8k4BiyzvbNfeYjK+frTVqZeNDFl8woCbF0CYG6g2fMEFFo/i" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/jquery.preloader.min.js' %}"></script>
    <script type="text/javascript" src="{% static "js/tiny_mce/tiny_mce.js" %}"></script>
    <script>
    $(document).ready(function () {
        $('#send-review').hide();
        $('#show-form').click(function () {
            $('#send-review').show();
            $('#send-review-button').hide();
        });
    });
    function init_data(){
             tinyMCE.init({
                 mode : "textareas",
                 theme : "advanced",
                 width : "30%"
             });

        }
        init_data();
    $(document).on('click', '#delete_comment', function (e) {
       e.preventDefault();
        var data = {};
        data["id"] = $(this).data("id");
        var csrf_token = $('#comment_admin_form [name="csrfmiddlewaretoken"]').val();
        data["csrfmiddlewaretoken"] = csrf_token;
        var url = '/delete';
        $.ajax({
             url: url,
             type: 'POST',
             data: data,
             cache: true,
             success: function (data) {
                 var successAlert = document.getElementById("alert");
                successAlert.style.visibility = "visible";
                function AlertDelay() {
                        successAlert.style.visibility = "hidden";
                }
                setTimeout(AlertDelay, 2000);
                $("#review_"+data.id).remove();
             },
             error: function(){
                 alert('Что-то пошло не так, перезагрузите страницу и попробуйте снова!');
             }
         })
    });
    $(document).on('submit', '#comment_admin_form', function(e)  {
            e.preventDefault();
            $('#comment_admin_form').preloader({setRelative: false});
            var form = e.target;
            $form = $(form);
            $form.ajaxSubmit({
                url: form.action,
                method: form.method,
                success: function (data) {
                    try{
                    if( data.indexOf('<span style="display: none">') > -1 ) {
                        $(".comment_admin_"+data.slice(data.indexOf('none">')+6, data.indexOf('</span>'))).html(data);
                        $form.attr("method", "post");
                        $(".fast-set").css("display","none");
                        init_data();
                        $('#comment_admin_form').preloader('remove');
                    }}
                    catch (TypeError){
                         $form.attr("method", "get");
                        $(".fast-set").css("display","block");
                        if (data.comment == ''){
                            $(".comment_admin_"+data.id).html('');
                        }
                        else {
                        $(".comment_admin_"+data.id).html(
                           '<div style="border-top:1px dotted darkgreen;">'+
                                        '<div class="admin-block text-left" style="padding-left: 20px">'+
                                                '<div class="comment-user" style="font-size: large">'+
                                                       '<i class="fa fa-user">'+'</i>'+
                                                        '<b>'+'Администрация'+'</b>'+
                                                    '</div>'+
                                                '<div class="comment-admin" style="padding-left: 10px">'+
                                                    '<p>'+
                                                        data.comment+
                                                    '</p>'+
                                                '</div>'+
                                        '</div>'+
                                    '</div>'

                            );
                        };
                        $('.super_user').html();
                    };
                    $('#comment_admin_form').preloader('remove');
{#                    $('#fb_form').preloader('remove');#}
                },
                error: function (xhr, textStatus, error) {
                    alert('Что-то пошло не так, перезагрузите страницу и попробуйте снова!');
                    $('#comment_admin_form').preloader('remove');
                }
            });
        });
</script>
{% endblock %}