{% extends "main.html" %}
{% load static %} {% load staticfiles %}


{% block content %}
    {% block additional_head %}
    <link rel="stylesheet" href="{% static 'css/preloader.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
{% endblock %}
 <div class="container hr well1 ins2">
     <div class="row">
{% if post.post_seourl == 'price' %}

         <div class="grid_3" style="height: 160px">
          <div class="scrol-right-menu" >
              <h2>Каталог</h2>
         <ul class="marked-list">
             {% for i in tags %}
                 {% if request.user.is_superuser or edit %}
                                    <form action="/tag_post" id="tag_form" method="{% if edit %}post{% else %}get{% endif %}" novalidate enctype="multipart/form-data">
                                {% endif %}
            <span class="tag_form_{{ i.id }}">
                  <li><a href="/catalog/{{ i.tag_url }}">{{ i.tag_title }}</a></li>
            </span>
                 {% if request.user.is_superuser %}
                                            <span class="super_user">
                                                 <input type="hidden" name="edit" value="{{i.id}}">
                                                 <button type="submit" class="fast-set">Изменить</button>
                                                                 </span>
                                {% endif %}
                                        {% csrf_token %}
                                        {% if request.user.is_superuser or edit %}
                                            </form>
                                        {% endif %}
             {% endfor %}

                </ul>
         </div>
</div>


         <div class="grid_9">
              {{ post.post_text|safe }}
         </div>
{% else %}
         <div class="grid_9">
              {% include 'singlpage_form.html' %}
         </div>
         <div class="grid_3">
    <ul class="cloud">
        {% for tag in tags %}
            {% if forloop.counter < 100 %}
            <li><a href="{%  url 'catalog' cat_url=tag.tag_url %}">{{ tag.tag_title }}</a></li>
        {% endif %}
        {% endfor %}
    </ul>
</div>
{% endif %}


     </div>
 </div>
{% endblock %}
{% block footer %}<footer>
<div class="container">
            <div class="copyright">© Профсистемы-Крым 2016 г.
г. Гурзуф, ул. Ялтинская, 12 , +7 (978) 213-40-89
Время работы:
пн-вс 8:00-18:00, без перерыва
            </div>
          </div>
</footer>
{% endblock %}
{% block additional_scripts %}
    <script type="text/javascript" src="{% static "js/tiny_mce/tiny_mce.js" %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js" integrity="sha384-FzT3vTVGXqf7wRfy8k4BiyzvbNfeYjK+frTVqZeNDFl8woCbF0CYG6g2fMEFFo/i" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/jquery.preloader.min.js' %}"></script>
    <script>
    function init_data(){
             tinyMCE.init({
                 mode : "textareas",
                 theme : "advanced",
                 height : "600",
                 width: "100%"
             });

        }
        init_data();
    $(document).on('submit', '#singlpage_form', function(e)  {
            e.preventDefault();
            $('#singlpage_form').preloader({setRelative: false});
            var form = e.target;
            $form = $(form);

            $form.ajaxSubmit({
                url: form.action,
                method: form.method,
                success: function (data) {
                    $form.replaceWith($.parseHTML(data));
                    init_data();
                    $('#singlpage_form').preloader('remove');
                },
                error: function (xhr, textStatus, error) {
                    alert('Что-то пошло не так, перезагрузите страницу и попробуйте снова!');
                    $('#singlpage_form').preloader('remove');
                }
            });
        });
       $(document).on('click', '.cancel', function(evt) {
            evt.preventDefault();
            $.ajax({
                url: evt.href,
                success: function(data){
                    $(evt.target).closest('form').replaceWith($.parseHTML(data));
                }
            });
       });
       $(document).on('submit', '#tag_form', function(e)  {
            e.preventDefault();
            $('#tag_form').preloader({setRelative: false});
            var form = e.target;
            $form = $(form);
            $form.ajaxSubmit({
                url: form.action,
                method: form.method,
                success: function (data) {
                    try{
                    if( data.indexOf('<span style="display: none">') > -1 ) {
                        console.log(data.slice(data.indexOf('none">')+6, data.indexOf('</span>')));
                        $(".tag_form_"+data.slice(data.indexOf('none">')+6, data.indexOf('</span>'))).html(data);
                        $form.attr("method", "post");
                        $(".fast-set").css("display","none");
                        $('#tag_form').preloader('remove');
                    }}
                    catch (TypeError){
                         $form.attr("method", "get");
                        $(".fast-set").css("display","block");
                        $(".tag_form_"+data.id).html(
                            '<li>'+'<a href="/catalog/'+data.tag_url+'">'+data.tag_title+'</a>'+'</li>'
                        );
                        $('.super_user').html();
                    };
                    $('#tag_form').preloader('remove');
{#                    $('#fb_form').preloader('remove');#}
                },
                error: function (xhr, textStatus, error) {
                    alert('Что-то пошло не так, перезагрузите страницу и попробуйте снова!');
                    $('#tag_form').preloader('remove');
                }
            });
        });
    </script>
    {% endblock %}

