{% extends "main.html" %}
{% load static %} {% load staticfiles %}

{% block content %}
 <div class="container hr well1 ins2">
     <div class="row">
{% if post.post_seourl == 'price' %}

         <div class="grid_3" style="height: 160px">
          <div class="scrol-right-menu" >
              <h2>Каталог</h2>
         <ul class="marked-list">
             {% for i in tags %}
                  <li><a href="/catalog/{{ i.tag_url }}">{{ i.tag_title }}</a></li>
             {% endfor %}

                </ul>
         </div>
</div>


         <div class="grid_9">
              {{ post.post_text|safe }}
         </div>
{% else %}
         <div class="grid_9">
              {{ post.post_text|safe }}
         </div>
         <div class="grid_3">
    <ul class="cloud">
        {% for tag in tags %}
            {% if forloop.counter < 100 %}
            <li><a href="{%  url 'catalog' cat_url=tag.tag_url %}">{{ tag.tag_title }}</a></li>
        {% endif %}
        {% endfor %}
    </ul>
</div>
{% endif %}


     </div>
 </div>
{% endblock %}

{% block footer %}<footer>
<div class="container">
            <div class="copyright">© Профсистемы-Крым 2016 г.
г. Гурзуф, ул. Ялтинская, 12 , +7 (978) 213-40-89
Время работы:
пн-вс 8:00-18:00, без перерыва
            </div>
          </div>
</footer>
{% endblock %}