{% extends "base/base.html" %}
{% load static %} {% load staticfiles %}

{% block additional_head %}{% endblock %}


{% block content %}
    {% if post.post_seourl == 'price' %}
         <div class="grid_3">
             <div class="scrol-right-menu" >
                 <h2>Группа товаров</h2>
                 <ul class="marked-list">
                     {% for i in tags %}
                     {% if request.user.is_superuser or edit %}
                     <form action="/tag_post" id="tag_form" method="{% if edit %}post{% else %}get{% endif %}" novalidate enctype="multipart/form-data">
                         <span class="tag_form_{{ i.id }}">
                             <li><a href="/catalog/{{ i.tag_url }}">{{ i.tag_title }}</a></li>
                         </span>
                         {% if request.user.is_superuser %}
                         <span class="super_user">
                             <input type="hidden" name="edit" value="{{i.id}}">
                             <button type="submit" class="fast-set">Изменить</button>
                         </span>
                         {% endif %}
                         {% csrf_token %}
                     </form>
                     {% endif %}
                     {% endfor %}
                 </ul>
             </div>
         </div>

         <div class="grid_9">
              {{ post.post_text|safe }}
         </div>
    {% else %}
        <div class="grid_8 content-view-from-database">
            {% if request.user.is_superuser %}
              {% include 'forms/edit-single-page.html' %}
            {% else %}
              {{ form.post_text.value|safe }}
            {% endif %}
        </div>


        <div class="grid_3">
            {% include 'lists/cloud-tags.html' with subtags=tags count=60 %}
        </div>
    {% endif %}
{% endblock %}
