<div class="alert-pop-up" id="alert-pop-up" style="background: #d22e2e;">
  <p>Данная форма находится на стадии разработки.</p>
</div>

<!--{#
<div class="admin-form-group">
    <input type="hidden" name="template-name-edit" value="{{ template_send }}">
    <input type="hidden" name="model-id" value="{{ model_id }}">

    <div>Имя: <span style="color: black">{{ form.hp_name }}</span></div>
    <div>Фото:<span style="color: black"> {{ form.hp_photo }}</span></div>




    <div><button class="home-button" type="submit">Сохранить</button></div>
</div> #}-->
