<div class="admin-form-group">
    <input type="hidden" name="template-name-edit" value="{{ template_send }}">


    <div><input type="hidden" name="model-id" value="{{ model_id }}"></div>
    <div>Название страницы : <p style="color: black">{{ form.sup_title }}</p></div>
    <div>Время: <span style="color: black"> {{ form.sup_time }}</span></div>
    <div>Слоган: <span style="color: black"> {{ form.sup_slogan }}</span></div>
    <div>Телефон: <span style="color: black"> {{ form.sup_phone }}</span></div>


    <div><button class="home-button" type="submit">Сохранить</button></div>
</div>
