@charset "UTF-8";
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Roboto:100, 400,500,700');



body {
	margin: 0;padding: 0;
	background: #F1F1F1;
	color: #56585a;
	font: 400 14px/28px "Roboto", sans-serif;
	-webkit-text-size-adjust: none;
	height: 100%;
	overflow-x: hidden;

	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-focus-ring-color: rgba(255, 255, 255, 0);
	outline: none;

	-moz-user-select: none;
	-o-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	resize: none;

	-webkit-text-size-adjust: none;
}
input, textarea {
	-moz-user-select: text;
	-o-user-select: text;
	-khtml-user-select: text;
	-webkit-user-select: text;
	user-select: text;
	resize: none;
}

img {max-width: 100%;height: auto;}
h1, h2, h3, h4, h5, h6 {color: #434547;}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {color: #0c623b !important;}
h1 {font-size: 38px;line-height: 42px;}
h2 {font-size: 34px;line-height: 38px;}
h3 {font-size: 24px;line-height: 38px;}
h4 {font-size: 22px;}
h5 {font-size: 20px;}
h6 {font-size: 18px;}
p, h1, h2, h3, h4, h5, h6, a, div{
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}
b{font-weight: 700;}
p a:hover, .list a:hover {text-decoration: underline;}
p .fa, .list .fa {text-decoration: none;}
time {display: block;}
a {
	font: inherit;
	color: inherit;
	text-decoration: none;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
a:focus {outline: none;}
a:active {background-color: transparent;}
a[href^="tel:"],
a[href^="callto:"] {
	color: inherit;
	text-decoration: none;
}
strong {font-weight: 700;}
.fa {line-height: inherit;}
[class*='fa-']:before {
	font-weight: 400;
	font-family: "FontAwesome";
}
hr {
	border: none;
	width: 100%;
	height: 0;
	background: #e5e5e5;
}
hr.hr {
	border-bottom: 1px solid #A1A1A1;
}

.content-view-from-database b{font-weight: 600;}
.content-view-from-database a{color: #4053FF;}
.content-view-from-database{overflow: hidden;}


.home-button{
	background: #0c623b;
	padding: 9px 14px;
	font-size: 14px;
	text-transform: uppercase;
	color: #fff;
	border-radius: 3px;
}









header {
	background-repeat: no-repeat;
	margin-bottom: 50px;
}

header > .header-menu-container {
	margin-top: 22px;
	height: auto;
}

header .custom-brand {
	float: left;
}

header .custom-brand > img{margin-top: 10px;}
header .custom-brand > h1.brand_name > a{color: #0c623b !important;}
header .custom-brand > h1.brand_name{
	display: inline-block;
	font-weight: 700;
	padding-left: 20px;
	padding-top: 15px;
	padding-bottom: 10px;
	font-size: 40px;
}
header a[href^="callto:"] > i{color: #0c623b !important;}
header a[href^="callto:"] {
	margin-top: 7px;
	position: relative;
	font-size: 24px;
	color: #777777;
}

header a[href^="callto:"]:before {
	position: absolute;
	top: -4px;
	left: -44px;
	font-size: 34px;
	color: #6bc7ed;
}

header a[href^="callto:"]:hover {
	color: map;
}

header a[href^="callto:"] + p {
	margin-top: 7px;
}










footer {
	color: #888a8c;
	background: #434547;
}

footer .copyright {
	padding-top: 21px;
	padding-bottom: 55px;
}

footer .copyright a:hover {
	text-decoration: underline;
}









/*========================   Menu   ==========================*/

.open-catalog-menu-mobile{display: none;}


.custom-list-menu{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: stretch;
	flex-wrap: wrap;
	align-content: flex-start;
	/*z-index: 900;*/
}
.custom-list-menu > li{
	font-size: 16px;
	line-height: 1;
	text-transform: uppercase;
	border-right: 1px solid #5a9727!important;
	border-left: 1px solid #5a9727!important;
	margin-left: -1px;
}
.custom-list-menu > li > a{
	color: #fff;
	display: block;
	padding: 22px 25px;
	/*background: #0c623b !important;*/
}
/*
.sf-menu {
	display: flex;
	position: relative;
}

.sf-menu:before, .sf-menu:after {
	display: table;
	content: "";
	line-height: 0;
}

.sf-menu:after {
	clear: both;
}

.sf-menu > li {
	position: relative;
	float: center;
	width: 100%;
}

.sf-menu a {
	display: block;
}

.sf-menu > li:first-child{
	border-left: 1px solid #5a9727;
}

.sf-menu > li > a {
	color: #fff;
	font-size: 16px;
	line-height: 1;
	font-weight: 500;
	height: 100%;
	text-transform: uppercase;
	border-right: 1px solid #fff;
	padding: 22px 15px;
}

.sf-menu > li.sfHover > a, .sf-menu > li > a:hover {
	color: #fff;
	background: #5ab7de;
	border-right: 1px solid #4bb0db;
}


.sf-menu > li.active a{
	color: #fff;
	background: #5ab7de;
	border-right: 1px solid #4bb0db;
	text-align: center;
}

.sf-menu ul {
	display: none;
	position: absolute;
	top: 100%;
	width: 235px;
	background: #f5f5f5;
	z-index: 2;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.sf-menu ul > li {
	position: relative;
}

.sf-menu ul > li > a {
	font-size: 16px;
	padding: 11px 31px;
	color: #62bfe6;
	background: #f5f5f5;
}

.sf-menu ul > li + li {
	border-top: 1px solid #e5e5e5;
}

.sf-menu ul > li.sfHover > a, .sf-menu ul > li > a:hover {
	color: #777777;
}

.sf-menu ul ul {
	position: absolute;
	top: 0;
	left: 100%;
	width: 235px;
	margin-top: 0;
	margin-left: 10px;
	padding: 0;
	z-index: 4;
}

.sf-menu > li > ul > li > .sf-with-ul {
	position: relative;
}

.sf-menu > li > ul > li > .sf-with-ul:before {
	position: absolute;
	right: 19px;
	top: 0;
	margin-left: -6px;
	content: "";
	font: 400 16px/50px "FontAwesome";
	color: #62bfe6;
}*/







.special > a {
	background: #196743 !important;
}

.special {
	font-style: italic !important;
	font-weight: 600 !important;
	/* background-color: red !important; */
}






.custom-menu-icon{
	display: none;
   width: 25px;
   height: 25px;
   position: relative;
   cursor: pointer;
}
.custom-menu-icon span{
	display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #333333;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}
.custom-menu-icon span:nth-child(1) {
  top: 0px;
}

.custom-menu-icon span:nth-child(2), .custom-menu-icon span:nth-child(3) {
  top: 8px;
}

.custom-menu-icon span:nth-child(4) {
  top: 16px;
}

.custom-menu-icon > p{
	text-align: left;
	margin-left: 50px;
	margin-top: -6px;
	/*width: 700px;
	font-size: 24px;
	letter-spacing: 1px;*/
	font-size: 16px;
	width: 290px;
	line-height: 16px;
	color: #444;
	letter-spacing: .05em;
}

.custom-menu-icon > p > b{
	font-weight: 600;
	font-size: 18px;
}
/*
.custom-list-menu > li {
	display: inline-block;
	color: #333333;
	font-family: Arial;
	font-size: 14px;
	line-height: 30px;
	padding: 0 10px;
	text-transform: uppercase;
	text-decoration: none;
}

.custom-list-menu > li:hover {
	text-decoration: underline;
}
*/
.custom-navbar{
	z-index: 1000;

	-webkit-transition: height .4s ease-out 0s;
	-moz-transition: height .4s ease-out 0s;
	-o-transition: height .4s ease-out 0s;
	transition: height .4s ease-out 0s;
}
.custom-navbar.menu_state_open .custom-menu-icon span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.custom-navbar.menu_state_open .custom-menu-icon span:nth-child(2) {
  transform: rotate(45deg);
}

.custom-navbar.menu_state_open  .custom-menu-icon span:nth-child(3) {
  transform: rotate(-45deg);
}

.custom-navbar.menu_state_open  .custom-menu-icon span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.custom-navbar.menu_state_open .custom-list-menu {
  display: block;
}

.logo-mobile-in-navbar{
	float: right;
	margin-top: 10px;
	margin-right: 10px;
	display: none;
}
@media (min-width: 465px) and (max-width: 767px){
	.logo-mobile-in-navbar{display: block;}
}








/* Каталог. Товары */
.custom-orders-list{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
	flex-wrap: wrap;
	align-content: right;
}
.catalog-order{
	position: relative;
	background: #E7EBE6;
	z-index: 100;
}
.catalog-order-image{position: relative;}
.catalog-order-image img:after {
	font-family: "FontAwesome";
	content: "\f03e";
	padding-top: 16px;
	font-size: 32px;
	top: 0;
	left: 0;
	width: 100%;
	height: 80%;
	background-color: #eee;
	display: block;
	position: absolute;
}
.catalog-order.order-show-block{
	height: 450px;
	width: 210px;
	margin: 10px 0;
	padding: 20px;
}
.catalog-order.order-show-list{
	height: 100px;
	width: 100%;
	margin: 5px 0;
	padding: 10px;
}
.catalog-order.order-show-block > .catalog-order-image{
	width: 210px;
	height: 230px;
	text-align: center;
	margin-bottom: 10px;
}
.catalog-order.order-show-list > .catalog-order-image{
	width: 90px;
	height: 100px;
	display: inline-block;
	text-align: center;
	margin-bottom: 10px;
}
.catalog-order > .catalog-order-image img{width: auto;height: 100%;}
.catalog-order.order-show-block > .catalog-order-text{
	overflow: hidden;
	height: 140px;
}
.catalog-order.order-show-list > .catalog-order-text{
	overflow: hidden;
	display: inline-block;
	height: 100px;
	width: 600px;
	line-height: 24px;
	margin-left: 20px;
}
.catalog-order > .catalog-order-text .order-price{
	color: green;
	font-size: 16px;
	font-weight: 700;
}
.catalog-order > .catalog-order-button > a{
	background: #196743 !important;
	padding: 3px 15px;
	color: #fff;
	border-radius: 5px;
	text-transform: uppercase;
	text-align: center;

	position: absolute;
	right: 10px; left: 10px;
	bottom: 10px;
}
.catalog-order.order-show-list .hidden-in-list{display: none;}
.catalog-order.order-show-block .hidden-in-block{display: none;}







.catalog-subtags {}
.catalog-subtags > .catalog-subtags-ul {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
	flex-wrap: wrap;
	padding-bottom: 10px;
	align-content: space-around;
}
.catalog-subtags > .catalog-subtags-ul > li{
	width: 50%;
	text-align: center;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 700;
	height: 35px;
	overflow: hidden;
	line-height: 18px;
	color: #424242;
}
.catalog-subtags > .catalog-subtags-ul > li > a{}





/* Каталог. Боковое меню. */
.custom-category-list > ul.marked-list{margin-top: 40px;}
.custom-category-list > ul.marked-list li{margin-bottom: 30px;}
.custom-category-list > ul.marked-list li a{
	color: #196743 !important;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 400;
}
.custom-category-list > ul.marked-list li a i{
	font-size: 21px;
	display: inline-block;
}
.custom-category-list > ul.marked-list li a p{
	height: 20px;
	display: inline-block;
	line-height: 16px;
	padding-top: 7px;
}
.custom-category-list > ul.marked-list li{
	margin-bottom: 30px;
}
.custom-category-list > ul.marked-list li a:hover{color: #777!important;}




.custom-wide-line{
	background: #0c623b;
	width: 90%;
	color: #fff;
	padding: 6px 15px;
	font-size: 14px;
	text-align: center;
	margin-top: 50px;
}
.custom-viewers-line{
	background: #0c623b;
	width: 100%;
	color: #fff;
	height: 42px;
	font-size: 14px;
	text-align: center;
	margin: 25px 0;
	z-index: 300;
}
.custom-viewers-line > .block-settings-type-sorted{}
.custom-viewers-line > .block-settings-type-view{float: right;width: 100%;}
.custom-viewers-line > .block-settings-type-view > a.return-to-category{
	display: inline-block;
	color: #fff;
	margin: 8px 10px 0 20px;
	font-size: 13px;
	text-transform: uppercase;
	float: left;
	overflow-x: hidden;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: calc(100% - 130px);
}
.custom-viewers-line > .block-settings-type-view > a:not(.return-to-category){
	display: inline-block;
	font-size: 16px;
	padding: 7px 15px;
	cursor: pointer;
	float: right;
}
.custom-viewers-line > .block-settings-type-view > a.active:not(.return-to-category){
	background: #fff;
	color: #0c623b!important;
}






/* Страница товара. */
.container-offer{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
}
.container-offer > .offer-grid-images{
	width: 35%;
}
.container-offer > .offer-grid-titles{
	width: 65%;
	padding-left: 20px;
}

.container-offer .offer-title{
	padding-bottom: 30px
}
.offer-description{padding-top: 50px;}






/* Слайдер на странице товара */
.slider-container {
  margin: 0 auto;
  width: 80%;
  color: #0c623b;
  text-align: center;
  background: none;
}

.slider-container .slick-slide {
  background: none;
}
.slider-container .slick-slide > img{
	margin: 0 auto;
	width: 100%;
	height: auto;
	cursor: pointer;
}
.view-pop-up-image{
	position: fixed;
	top: 0px;bottom: 0;left: 0;right: 0;
	background: rgba(0,0,0,.9);
	display: none;
	z-index: 300;
	padding: 40px 30%;
	text-align: center;
	overflow-y: scroll;
	cursor: pointer;
}
.view-pop-up-image > p{
	margin-bottom: 10px;
}
.opened-image-in-pop-up{
	margin: 0 auto;
	height: auto;width: 100%;
}





/* Кнопки для карусели на главной странице и на странице товара */
.custom-slick-next, .custom-slick-prev {
    font-size: 35px;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 3px;
    -webkit-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    transform: translate(0,-50%);
    cursor: pointer;
    color: #444;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border: none;
    outline: 0;
    background: 0 0;
    z-index: 900;
}
.custom-slick-next{right: -45px;}
.custom-slick-prev{left: -45px;}



/* Страница отзывов */
.review{margin-bottom: 30px;}
.review > .header-review{}
.review > .header-review > i{
	font-size: 43px;
	color: #315E30;
	width: 40px;
	height: 40px;
	margin-top: 12px;
}
.review > .header-review > div{display: inline-block;padding-left: 10px;}
.review > .header-review > div > b{font-weight: 400;font-size: 18px;margin-top: 0;}
.review > .header-review > div >time{color: #888;line-height: 8px;}
.review > .comment-review{margin-left: 50px;line-height: 18px;}
.comment-admin-block > .admin-block{margin-left: 50px;margin-top: 15px;background: #FAFAFA !important;border-radius: 3px;}
.review .comment-admin-header > b{font-weight: 400;font-size: 18px;}
.review .comment-admin{line-height: 18px;padding: 10px;}
.review .comment-admin-header{border-bottom: 1px solid #EEEEEEFF;}
.review .comment-admin-header > i{
	font-size: 21px;
	color: #315E30;
	width: 20px;
	height: 20px;
	margin: 2px 10px 0 10px;
}




@media (max-width: 465px) {
	body{padding-top: 60px;}
	header .custom-brand > h1.brand_name{display: none;}
	header .custom-brand > img{width: 110px;padding-right: 10px;}
	header > .custom-container{text-align: left;}
	header > .custom-container > p{font-size: 14px;line-height: 17px;}
	header a[href^="callto:"]{font-size: 19px;}
	header a[href^="callto:"] + p{margin-top: 0;}
	.custom-navbar {overflow-x: hidden;}

	.catalog-order.order-show-list > .catalog-order-text{width: calc(100% - 120px);line-height: 17px;}
	.catalog-order.order-show-block{width: 100%;text-align: center;height: 400px;}
	.catalog-order.order-show-block > .catalog-order-image{height: 250px;width: 250px;margin: 0 auto;}

	.catalog-order.order-show-block > .catalog-order-text > p{line-height: 16px; font-size: 14px;}
	.catalog-order.order-show-block > .catalog-order-text > .title,
	.catalog-order.order-show-block > .catalog-order-text > .title > h5{
		font-size: 15px;line-height: 14px;font-weight: 600;margin-top: 5px;}

}

/* Показывается номер телефона в шапке при просмотре через мобильный(альбомный вид). */
.visible-phone-mobile-landscape{display: none;}
@media (min-width: 585px) and (max-width: 767px){
	.visible-phone-mobile-landscape{display: inline-block;}
	.custom-menu-icon > p{width: 500px;}
}



@media (min-width: 465px) and (max-width: 767px){
	.hidden-mobile-logo{display: none;}
	body{padding-top: 15px;}

	.catalog-order.order-show-list > .catalog-order-text{width: calc(100% - 120px);line-height: 17px;}
	.catalog-order.order-show-block{width: 25%;text-align: center;height: 350px;}
	.catalog-order.order-show-block > .catalog-order-text > p{line-height: 16px; font-size: 14px;}
	.catalog-order.order-show-block > .catalog-order-text > .title,
	.catalog-order.order-show-block > .catalog-order-text > .title > h5{
		font-size: 15px;line-height: 14px;font-weight: 600;margin-top: 5px;}
	.catalog-order.order-show-block > .catalog-order-image{height: 150px;width: 150px;margin: 0 auto;}
}



@media (max-width: 767px) {
	.catalog-margin-top-30{margin-top: 40px;}
	header {
		text-align: center;
		background: none !important;
		margin-bottom: 0;
	}
	.hidden-mobile{display: none;}


	.open-catalog-menu-mobile{display: block;}

	.custom-navbar > .custom-list-menu .active-mobile > a{color: #fff;}
	.custom-navbar > .custom-list-menu .active-mobile{background: #0c623b !important;}

	.custom-container{margin: 0 auto;padding: 0;}
	.header-menu-container{background: none!important;}
	.custom-navbar{
		position: fixed; top: 0;left: 0;right: 0;
		overflow-y: scroll;
		height: 50px;
		max-height: 100%;
		background: #fff!important;
		box-shadow: 0 0 6px #B5B5B5;
	}
	.custom-menu-icon{
		display: inline-block;
		margin-left: 20px;
		margin-top: 15px;
		float: left;
	}
	.custom-navbar > .custom-list-menu{
		margin-top: 50px;
		padding-bottom: -8px;
		display: none;
		margin-right: 0;
		background: #fff;

		-moz-box-shadow: inset 0 1px 5px #B5B5B5;
		-webkit-box-shadow: inset 0 1px 5px #B5B5B5;
		box-shadow: inset 0 1px 5px #B5B5B5;
	}

	.custom-navbar > .custom-list-menu > li > a {
		background: none;
		font-weight: 600;
		color: #111;
		text-align: left;
		padding-left: 20%;
	}

	/* Каталог. Список категорий в меню.*/
	.custom-category-list{border-bottom: 3px solid #0c623b !important;}
	.custom-category-list > ul.marked-list{margin-top: 10px;}
	.custom-category-list > ul.marked-list li{margin-bottom: 18px;}
	.custom-category-list > ul.marked-list li a i{width: 25px;}
	.custom-category-list > ul.marked-list li a p{width: 240px;}

	/* Каталог. Товары. */
	.catalog-order.order-show-list{width: 100%;}
	.catalog-order.order-show-list > .catalog-order-text > .title,
	.catalog-order.order-show-list > .catalog-order-text > .title > h5{font-size: 15px;font-weight: 600;}
	.catalog-order.order-show-list > .catalog-order-image{height: 100px;width: 90px;}
	.catalog-order.order-show-list > .catalog-order-text > p{font-size: 12px;line-height: 16px;}
	.custom-viewers-line{position: fixed;top: 25px;right: 0;left: 0;}


	/* Страница товара. */
	.container-offer{flex-direction: column;text-align: center;}
	.container-offer > .offer-grid-images{width: 100%; max-width: 350px;margin: 0 auto;}
	.container-offer > .offer-grid-titles{width: 100%;margin-top: 30px;padding-left: 0;}
	.container-offer .offer-title{width: 100%;}


	.view-pop-up-image{padding: 70px 20px;}
}

@media (min-width: 768px) and (max-width: 1000px) {
	header {text-align: center; background: none !important;}
	header .custom-brand, header a[href^="callto:"], header .custom-container > p {float: none;}
	header .custom-brand {display: block;}
	header .brand_slogan {padding-left: 0;}
	header a[href^="callto:"] {
		display: inline-block;
		margin-top: 20px;
	}
	header a[href^="callto:"],
	header .custom-container > p {
		clear: right;
		float: right;
	}
	header > .header-menu-container {background: #0c623b !important;}

	.visible-mobile{display: none;}

	.custom-list-menu > li{
		background: #0c623b !important;
	}

	/* Каталог. Боковое меню.*/
	.custom-category-list > ul.marked-list li{padding-bottom: 15px;}
	.custom-category-list > ul.marked-list li a i{width: 30px;}
	.custom-category-list > ul.marked-list li a p{width: 130px;}

	/* Каталог. Товары. */
	.catalog-order.order-show-list{width: 100%;height: 100px;}
	.catalog-order.order-show-block{width: 200px;height: 400px;}
	.catalog-order.order-show-list > .catalog-order-image{height: 100px;width: 90px;}
	.catalog-order.order-show-block > .catalog-order-image{height: 190px;width: 200px;}
	.catalog-order.order-show-list > .catalog-order-text{width: 350px;}
}

@media (min-width: 1001px) and (max-width: 1199px){
	header {
		background: none !important;
	}
	header a[href^="callto:"],
	header .custom-container > p {
		clear: right;
		float: right;
	}
	header > .header-menu-container {background: #0c623b !important;}

	.visible-mobile{display: none;}

	.custom-list-menu > li{
		background: #0c623b !important;
	}

	/* Каталог. Боковое меню.*/
	.custom-category-list > ul.marked-list li a i{width: 30px;}
	.custom-category-list > ul.marked-list li a p{width: 180px;}
}

@media (min-width: 1200px) {
	header {
		padding-top: 24px;
		margin-bottom: 40px;
	   /* background: url(http://s3.amazonaws.com/pulscen/company_header_images/000/585/435_big.jpg?1491646775);*/
		background-repeat: no-repeat;
		background-position-x: center;

		background-color: #0c623b !important;
		height: 205px;
	}

	header .custom-brand {display: none;}
	header a {display: none;}
	header p {display: none;}
	header .header-menu-container {margin-top: 145px;background: #0c623b !important;}

	.visible-mobile{display: none;}

	.custom-list-menu > li{
		background: #0c623b !important;
	}

	/* Каталог. Боковое меню. При изменении ширины экрана, выстраивается в столбец иконка и текст */
	.custom-category-list > ul.marked-list li a i{width: 30px;}
	.custom-category-list > ul.marked-list li a p{width: 220px;}
}
